{% extends "../layouts/layout.html.twig" %}


{% block title %} WEB AUDIO API ( MIX ){% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets  output="/demoBundle/assets/css/audio.css" filter="?uglifycss" 
		"/demoBundle/webaudio/css/bootstrap-slider.css"
		"/demoBundle/webaudio/css/wai.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}


{% endblock %}

{% block javascripts %}

	{{ parent() }}

	{% javascripts output='/demoBundle/assets/js/audio.js' filter='?uglifyjs2'
		"/demoBundle/webaudio/js/excanvas.js"
		"/demoBundle/webaudio/js/jquery.knob.js"
		"/demoBundle/webaudio/js/bootstrap-slider.js"
		"/demoBundle/webaudio/js/mix2.js"
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script type="text/javascript">
		var App = new stage.appKernel(null, "dev", {
			debug: true,
			location: {
				html5Mode: false
			},
			onLoad: function(kernel){
			},
			onReady: function(kernel){
			},
			
			onBoot: function(kernel){
			},
			onDomLoad: function(kernel){		
				var mix = new stage.webmixer();
				mix.build($('.centered'));		
				mix.start();	
			}
		});
	</script>
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="centered"></div>
{% endblock %}
