<nav class="navbar navbar-ligth bg-light fixed-bottom">
  <!-- Navbar content -->
  <ul class="navbar-nav">
    <a class="" href="/">
      <img src="/app/images/app-logo.png" class="d-inline-block align-top" width="30" height="30" alt="{{name}}">
      <strong class="font-weight-bold"> {{nodefony.name}}@{{nodefony.projectVersion}}</strong>
    </a>
  </ul>
  <ul class="navbar-nav mx-auto">
  <div class="">© {{year}} Copyright
  </div>
  </ul>

  <form class="form-inline">
    <div class="form-inline input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">{{ trans("lang") }} : </label>
      </div>
      <select class="custom-select align-middle mr-4" id="langs">
        {% for opt in langs %}
        {% if locale == opt.value %}
        <option value="{{ opt.value}}" selected>
          {{ opt.name }}
        </option>
        {% else %}
        <option value="{{ opt.value}}">
          {{ opt.name }}</option>
          {% endif %}
          {% endfor %}
        </select>
    </div>
  </form>
</nav>
