{% extends "../layouts/layout.html.twig" %}



{% block title %}  

	SYSTEM CALL 


{% endblock %}



{% block stylesheets %}
	{{ parent() }}

{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script>
		

	</script>

{% endblock %}

{% block body %}

	{{parent()}}
	
	<div class="container">

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong> EXEC synchrone command hostname    </strong></div>
				<div class="panel-body">
					<pre>
{{hostname}}
					</pre>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong> EXEC asynchrone command PWD   ( Print Working Directory )</strong></div>
				<div class="panel-body">
					<pre>
{{pwd}}
					</pre>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong>SPAWN command ping -C 3 google.com   </strong></div>
				<div class="panel-body">
					<pre>
{{ping}}
					</pre>
					{% if error %}
{{error}}
					{% endif %}
				</div>
			</div>
		</div>

	</div>

	



{% endblock %}
