{% extends "../layouts/layout.html.twig" %}



{% block title %}  

	HTTP REQUEST 


{% endblock %}



{% block stylesheets %}
	{{ parent() }}

{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script>

		$(document).ready(function(){

			$.ajax({
				url:"{{path("xmlAsyncResponse")}}",
				success:function(data){
					var res = stage.xml.parseXml(data);
				}
			
			})
		})	
	</script>	

{% endblock %}

{% block body %}

	{{parent()}}

	<div class="container">

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong>View HOSTNAME RAW RESULT REQUEST PROXY {{type}} GET on {{host}}    </strong></div>
				<div class="panel-body">
					<code>
{{bodyRaw}} 
					</code>
				</div>
			</div>
		</div>

	</div>



{% endblock %}
