{% extends "src/bundles/demoBundle/Resources/views/layouts/layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}

	{% stylesheets  output="/assets/css/clean.css" filter="?uglifycss" 
            "/demoBundle/clean/assets/css/simple-line-icons.css"
            "/demoBundle/clean/assets/css/animate.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<!-- LIBRARY DESIGN-->
	{% javascripts output='/assets/js/vendor.js' filter='?uglifyjs2'
		"/demoBundle/clean/assets/js/jquery.parallax-1.1.3.js" 
		"/demoBundle/clean/assets/js/jquery.sticky.js" 
		"/demoBundle/clean/assets/js/smoothscroll.js" 
		"/demoBundle/clean/assets/js/wow.min.js" 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<!-- KERNEL STAGE-->
	{% javascripts output='/assets/js/stage.js' filter='?uglifyjs2'
		"/frameworkBundle/vendors/twig/twig.js" 
		"/vendors/stage/kernel/autoload.js" 
		"/vendors/stage/kernel/kernel.js" 
		"/vendors/stage/kernel/appKernel.js" 
		"/vendors/stage/kernel/container.js" 
		"/vendors/stage/kernel/routerService.js" 
		"/vendors/stage/kernel/controller.js" 
		"/vendors/stage/kernel/module.js" 
		"/vendors/stage/kernel/translationService.js" 
		"/vendors/stage/kernel/locationService.js" 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	<!-- ENTRY POINT -->
	<script src="/demoBundle/js/demo.js"></script>

{% endblock %}

{% block body %}

	<!-- Preloader -->

	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- Home start -->

	<section id="home" class="pfblock-image screen-height">
        	<div class="home-overlay"></div>
		<div class="intro">
			<div class="start"> {{ "welcome"|trans() }} {{user.name }} {{user.surname}}</div>
			<h1 class="success" style="font-size:60px"> <strong class="text-primary">NODEFONY </strong> FRAMEWORK  </h1>
			<h3 class="success"> <strong class="text-primary"> </strong> FRAMEWORK REALTIME SYMFONY LIKE  </h3>
		</div>

        	<a href="#system">
			<div class="scroll-down">
            			<span>
                			<i class="fa fa-angle-down fa-2x"></i>
            			</span>
			</div>
        	</a>

	</section>

	{{ parent() }}

	<section id="system" class=" pfblock-gray screen-height">
        	

	</section>

	<footer id="footer" >
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
                    			<p class="copyright">
						© 2015   Generate with {{ nodefony }}  
					</p>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</footer>

	<!-- Scroll to top -->

	<div class="scroll-up">
		<a href="#home"><i class="fa fa-angle-up"></i></a>
	</div>

{% endblock %}


