{% extends "/app/Resources/views/base.html.twig" %}


{% block title %} {{name}} {% endblock %}


{% block body %}

	{# {% include './head.html.twig' %} #}

    	<div class="container">
    	<section id="informations">
    	<div class="page-header">
        	<h1>{{user.username}}</h1>
		    	</div>
    	<div class="row">
        	<div class="span12">
              	<div class="well accordion" id="informations">
              	<div class="accordion-heading">
                      	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="informations" href="">
                      	</a>
                    	</div>
                      	<div class="accordion-inner">
                          	<blockquote>
                          	</blockquote>
                      	</div>
                    	</div>
              	</div>
            	</div>
    	</div>
		<a href="{{path("user",{name:"alo"})}}">utilisateur</a>
	<ul>
	{% for item in user %}
		<li>	
		{{item.username}} {{item.password}}
		</li>
	{% endfor %}
	</ul> 
    	</section>
    	</div>

	<form name="input" action="/users" method="POST">
		First name: <input type="text" name="firstname"><br>
		Last name: <input type="text" name="lastname">
		Password: <input type="password" name="pwd">
		<input type="submit" value="Submit">
	</form>

{% endblock %}

