{% extends "../layouts/layout.html.twig" %}



{% block title %}  

	WEBSOCKET REQUEST  


{% endblock %}



{% block stylesheets %}
	{{ parent() }}

{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script>

		$(document).ready(function(){
			var location = window.location ;
			var protocol = location.protocol ;
			switch (protocol){
				case "https:":
					var socket = new WebSocket("wss://"+location.host+"{{path('websoket')}}");
				break;
				case "http:":
					var socket = new WebSocket("ws://"+location.host+"{{path('websoket')}}");
				break;
			}	
			socket.onopen = function (event) {
				var toSend = " HELLO SERVER I AM A CLIENT : " + navigator.userAgent ;  
				$("#result").append('WEBSOCKET EVENT OPEN \n');
				$("#result").append('WEBSOCKET CLIENT SEND : '+toSend+"\n");
				socket.send(toSend); 
			};
			
			socket.onerror = function(error){
				$("#result").append('WEBSOCKET SOCKET ERROR : '+error);
			};
			socket.onmessage = function(message){
				$("#result").append("WEBSOCKET SERVER MESSAGE : " + message.data)
			};
			socket.onclose = function(event){
				$("#result").append("WEBSOCKET SERVER CLOSE : "+event.reason)
			};
		})	
	</script>	

{% endblock %}

{% block body %}

	{{parent()}}

	<div class="container">

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong>WEBSOCKET REQUEST  </strong></div>
				<div class="panel-body">
					<pre id="result">
						
					</pre>
				</div>
			</div>
		</div>

	</div>



{% endblock %}
