{% extends "src/bundles/demoBundle/Resources/views/layouts/layout.html.twig" %}

{{trans_default_domain("webrtc")}}

{% block stylesheets %}
	{{ parent() }}

	{% stylesheets  output="/assets/css/clean.css" filter="?uglifycss" 
            "/demoBundle/clean/assets/css/simple-line-icons.css"
            "/demoBundle/clean/assets/css/animate.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

	<link href="/webRtcBundle/css/demo.css" rel="stylesheet">

{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<!-- LIBRARY DESIGN-->
	{% javascripts output='/assets/js/vendor.js' filter='?uglifyjs2'
		"/demoBundle/clean/assets/js/jquery.parallax-1.1.3.js" 
		"/demoBundle/clean/assets/js/jquery.sticky.js" 
		"/demoBundle/clean/assets/js/smoothscroll.js" 
		"/demoBundle/clean/assets/js/wow.min.js" 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

	<!-- LIBRARY STAGE-->

	{% javascripts output='/assets/js/stageLib.js' filter='?uglifyjs2'
		"/vendors/stage/io/transports/websockets/websocket.js" 
		"/vendors/stage/crypto/base64.js" 
		"/vendors/stage/crypto/md5.js" 
		"/vendors/stage/io/authentication/mechanisms/digest-md5/digestMd5.js" 
		"/vendors/stage/io/authentication/sasl/sasl.js" 
		"/vendors/stage/io/protocols/bayeux/bayeux.js" 
		"/vendors/stage/io/realtime/realtime.js" 
		"/vendors/stage/io/protocols/sip/sip.js" 
		"/vendors/stage/io/protocols/webrtc/webrtc.js" 
		"/vendors/stage/media/adapter.js" 
		"/vendors/stage/media/media.js" 
		"/vendors/stage/media/webrtc/webrtc.js" 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<!-- KERNEL STAGE-->
	{% javascripts output='/assets/js/stage.js' filter='?uglifyjs2'
		"/frameworkBundle/vendors/twig/twig.js" 
		"/vendors/stage/kernel/autoload.js" 
		"/vendors/stage/kernel/kernel.js" 
		"/vendors/stage/kernel/appKernel.js" 
		"/vendors/stage/kernel/container.js" 
		"/vendors/stage/kernel/routerService.js" 
		"/vendors/stage/kernel/controller.js" 
		"/vendors/stage/kernel/module.js" 
		"/vendors/stage/kernel/translationService.js" 
		"/vendors/stage/kernel/locationService.js" 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<!-- ENTRY POINT -->
	<script src="/webRtcBundle/js/demo.js"></script>

{% endblock %}


{% block body %}


<!-- Preloader -->

<div id="preloader">
	<div id="status"></div>
</div>

<!-- Home start -->

<section id="home" class="pfblock-image screen-height">
        <div class="home-overlay"></div>
	<div class="intro">
		<h1 class="success" style ="font-size:70px" > <strong class="text-primary">WEBRTC </strong> DEMO  </h1>
		<h2 class="success"> <strong class="text-primary">NODEFONY </strong> {{ "webrtc"|trans() }}  </h2>
		<div class="start">  {{ "webrtcWelcome"|trans() }}  </div>

		<div  class="row" style="margin-top:50px">
			<div class="col-md-12 col-lg-12">
				<h3 style="visibility: visible; animation-delay: 0.1s; animation-name: slideInRight;" class="wow slideInRight animated" data-wow-delay=".1s">ARE YOU READY TO START?</h3>
			</div>

			<div style="visibility: visible; animation-delay: 0.3s; animation-name: slideInRight;" class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight animated" data-wow-delay=".3s">
				<a href="#containerDemo" id="startDemo" class="btn btn-lg">CONNECT USER {{user.username}}</a>
			</div>

		</div><!-- .row -->
	</div>

        <a href="#services">
		<div class="scroll-down">
            		<span>
                		<i class="fa fa-angle-down fa-2x"></i>
            		</span>
		</div>
        </a>

</section>


<!-- Home end -->

<!-- Navigation start -->

	{{ parent() }}

<!-- Navigation end -->

<!-- Services start -->

<section id="services" class="pfblock pfblock-gray screen-height">
	<div class="container">
		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">

				<div class="pfblock-header wow fadeInUp">
					<h2 class="pfblock-title">WEBRTC</h2>
					<div class="pfblock-line"></div>
					<div class="pfblock-subtitle">
						DEMO WEBRTC with NODEFONY FRAMENWORK 
					</div>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-sm-4">

				<div class="iconbox wow slideInLeft">
					<div class="iconbox-icon">
						<img src = "/webRtcBundle/images/fanout_icon.png" class="icon-img"></img>
					</div>
					<div class="iconbox-text">
						<h3 class="iconbox-title">REALTIME APPLICATION</h3>
						<div class="iconbox-desc">
							 	
						</div>
					</div>
				</div>

			</div>

			<div class="col-sm-4">

				<div class="iconbox wow slideInRight">
					<div class="iconbox-icon">
						<img src = "/webRtcBundle/images/google-io.png" style="width:60px;height:60px"></img>
					</div>
					<div class="iconbox-text">
						<h3 class="iconbox-title">WEB AUDIO API</h3>
						<div class="iconbox-desc">
							
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">

				<div class="iconbox wow slideInRight">
					<div class="iconbox-icon">
						<img src = "/webRtcBundle/images/Webrtc.png" style="width:60px;height:42px"></img>
					</div>
					<div class="iconbox-text">
						<h3 class="iconbox-title">WEBRTC API</h3>
						<div class="iconbox-desc">
							
						</div>
					</div>
				</div>

			</div>

		</div><!-- .row -->


	</div><!-- .container -->
	
</section>

<!-- Services end -->


<section id="demo" class=" calltoaction screen-height" >
	
	<div id="containerDemo"  >
			{% include '/src/experimental/webRtcBundle/Resources/views/partialWebRtc.html.twig' with {'username': username, 'url':url, 'name':name} %}
	</div><!-- .container -->

</section>





<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
                    		<p class="copyright">
					© 2015   Generate with {{ nodefony }}  
				</p>
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</footer>

<!-- Scroll to top -->

<div class="scroll-up">
	<a href="#home"><i class="fa fa-angle-up"></i></a>
</div>



{% endblock %}



