<footer class="footer-nodefony">
  <div class="footer-left">
    <p class="footer-company-name" href="{{ path('home') }}">
      <strong>
        NODEFONY
        {{version}}
        ©</strong>
      {{year}}
    </p>
  </div>
  <div class="footer-right">
    <select class="nodefony-select" id="langs">
      {% for opt in langs %}
        {% if locale == opt.value %}
          <option value="{{ opt.value}}" selected>
            {{ opt.name }}
          </option>
        {% else %}
          <option value="{{ opt.value}}">
            {{ opt.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</footer>
