{% extends './base.html.twig' %}
{% set error = getFlashBag("error") %}

{% block title %}
  {{nodefony.name}}
{% endblock %}

{% block body %}

  {% block header %}
    {{ render( controller("app:app:header" )) }}
  {% endblock %}

  <div class="container text-center mt-8" >
        <img class="mb-4" src="{{CDN("image")}}/app/images/app-logo.png" alt="">
        <h1 class="h1 mb-3 font-weight-normal"style="color:#0167b8">{{nodefony.name|upper}}</h1>
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
          <strong>{{error}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        <p class="h2 mt-3 mb-5">{{trans("welcome")}}
          {{user.username}}
        </p>
        <p class="h3 mt-3">
          <a href="{{url('documentation')}}">
            <button class="btn btn-info btn-sm" type="button">
              Documentation
            </button>
          </a>
        </p>
        {% if demo %}
        <p class="h3 mt-3">
          <a href="{{url('demo')}}">
            <button class="btn btn-info btn-sm" type="button">
              Demo
            </button>
            </a
          </p>
          {% endif %}
        </h1>
        {% if readme %}
        <div>{{readme}}</div>
        {% endif %}
  </div>

  {% block footer %}
    {{ render( controller("app:app:footer" )) }}
  {% endblock %}

{% endblock %}
