{% extends './base.html.twig' %}

{% block title %} {{trans("welcome")}} ! {% endblock %}

{% block body %}
	<img class='displayed' src='{{CDN("image")}}/frameworkBundle/images/nodefony-logo-white.png'>
    <h1 class="success" >
        <a href="{{path('documentation')}}">
            <strong itemprop="name" class="text-primary" style="font-size:45px">
            	NODEFONY {{core}}
            </strong>
        </a>
    </h1>
	<div class='row displayed'>
		{{readme}}
	</div>
{% endblock %}

{% block footer %}
	<footer>
		{{ render( controller("AppBundle:app:footer" )) }}
	</footer>
{% endblock %}
