{% extends "src/bundles/callContactBundle/Resources/views/layouts/layout.html.twig" %}


{% block title %} CONFIGURATION {% endblock %}

{% block body %}
	{{ parent() }}
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 m-t-lg">

          	<h1 class="block text-info text-center">CONFIGURATION</h1>
          	<ul class="nav nav-tabs m-t-xl" role="tablist">
          	<li role="presentation" class="{% if not tab %}active{% endif %}"><a href="#apiPanel" aria-controls="apiPanel" role="tab" data-toggle="tab">CHOIX DE L'API</a></li>
          		<li role="presentation" class="{% if tab == 'user' %}active{% endif %}"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">Utilisateur</a></li>
          		<li role="presentation" class="{% if tab == 'expert' %}active{% endif %}"><a href="#expert" aria-controls="expert" role="tab" data-toggle="tab">Expert</a></li>
          	</ul>
          	<div class="tab-content">
          	<div role="tabpanel" class="tab-pane{% if not tab %} active{% endif %}" id="apiPanel">
          		<h4 class="wrapper strong  text-info text-center m-t-xl"> Choisir une api pour des tests<a href="#" class="pull-right text-primary text-xl"><i class="glyphicon glyphicon-question-sign"></i></a></h4> 
		        <div class="account-wall m-t-xxl">
		        	<div class="form-group has-info">
						<label class="control-label col-sm-4" for="api">API</label>
					    <div class="col-sm-8">
					      <select id="api" name="api" class="form-control no-b">
					      	<option value="CCAPI"{% if defaultApi == 'CCAPI' %} selected="selected"{% endif %}>CCAPI</option>
					      	<option value="TFM"{% if defaultApi == 'TFM' %} selected="selected"{% endif %}>TFM</option>
					      	<option value="NODEFONY"{% if defaultApi == 'NODEFONY' %} selected="selected"{% endif %}>NODEFONY</option>
					      </select>
					    </div>
					</div>
					
					<div class="form-group has-info">
						<label class="control-label col-sm-4  m-t-lg" for="enableRTCWebBreaker">CA Certificate</label>
					    <div class="col-sm-8 text-center  m-t-lg">
					      <a href="{{ path('downloadCACertificate', {"api": defaultApi}) }}" class="btn btn-md btn-success">Télécharger</a>
					    </div>
					</div>
		        </div>
		    </div>
          		<div role="tabpanel" class="tab-pane{% if tab == 'user' %} active{% endif %}" id="user">
          			<h4 class="wrapper strong  text-info text-center m-t-xl"> Configurer les paramêtres de l'utilisateur<a href="#" class="pull-right text-primary text-xl"><i class="glyphicon glyphicon-question-sign"></i></a></h4> 
		            <div class="account-wall m-t-xxl">
		                <form id="dialConfiguration" class="form-horizontal""  action="{{ path('callContactConfiguration') }}" method="POST" >
		                	<input type="hidden" name="type" value="user" />
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="displayName">Nom à afficher</label>
								<div class="col-sm-8">
								  <input type="text" id="displayName" name="displayName"  value="{{ userConfig.displayName }}"  class="form-control no-b" placeholder="e.g. John Doe" />
							    </div>
							</div>
			        		<div class="form-group has-info m-t-lg">
								<label class="control-label col-sm-4" for="publicIdentity">Identité public</label>
								<div class="col-sm-8">
								  <input type="text" id="publicIdentity" name="publicIdentity"  value="{{ userConfig.publicIdentity }}"  class="form-control no-b" placeholder="e.g. sip:+33600000000@doubango.org" />
								</div>
							</div>
		                	<div class="form-group has-info m-t-lg">
								<label class="control-label col-sm-4" for="realm">Realm</label>
							    <div class="col-sm-8">
							      <input type="text" id="realm" name="realm"  value="{{ userConfig.realm }}"  class="form-control no-b" placeholder="e.g. doubango.org" />
							    </div>
							</div>
							
							<div class="row m-t-lg">
			        			<div class="col-xs-offset-3 col-xs-6">
			        				<button id="valid" class="btn btn-xl btn-info btn-block m-b-lg"> validation </button>
			        			</div>
			        		</div>
			        		
						</form>
					</div>
          		</div>
	          	<div role="tabpanel" class="tab-pane{% if tab == 'expert' %} active{% endif %}" id="expert">
			    	<h4 class="wrapper strong  text-info text-center m-t-xl"> Configurer les paramêtres de connection de CALLCONTACT<a href="#" class="pull-right text-primary text-xl"><i class="glyphicon glyphicon-question-sign"></i></a></h4> 
		            <div class="account-wall m-t-xxl">
		                <form id="dialConfiguration" class="form-horizontal""  action="{{ path('callContactConfiguration') }}" method="POST" >
		                	<input type="hidden" name="type" value="expert" />
		                	
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="network">API</label>
							    <div class="col-sm-8">{{ defaultApi }}</div>
							</div>
		                	
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="network">Réseau</label>
							    <div class="col-sm-8">
							      <select id="network" name="network" class="form-control no-b">
							      	<option value="FIBRE"{% if api.network == 'FIBRE' %} selected="selected"{% endif %}>FIBRE</option>
							      	<option value="CABLE"{% if api.network == 'CABLE' %} selected="selected"{% endif %}>CABLE</option>
							      	<option value="ADSL"{% if api.network == 'ADSL' %} selected="selected"{% endif %}>ADSL</option>
							      	<option value="SATELLITE"{% if api.network == 'SATELLITE' %} selected="selected"{% endif %}>SATELLITE</option>
							      </select>
							    </div>
							</div>
					<div class="form-group has-info">
								<label class="control-label col-sm-4" for="DTMF">DTMF</label>
							    <div class="col-sm-8">
							      <select id="DTMF" name="DTMF" class="form-control no-b">
							      	<option value="SIP-INFO"{% if api.DTMF == 'SIP-INFO' %} selected="selected"{% endif %}>SIP-INFO</option>
							      	<option value="RTP-EVENT"{% if api.DTMF == 'RTP-EVENT' %} selected="selected"{% endif %}>RTP-EVENT</option>
							      	<option value="DTMF-OFF"{% if api.DTMF == 'DTMF-OFF' %} selected="selected"{% endif %}>OFF</option>
							      </select>
							    </div>
							</div>
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="disableVideo">Désactiver la vidéo</label>
							    <div class="col-sm-8 text-center">
							      <input type="checkbox" id="disableVideo" name="disableVideo" value="1"{% if api.disableVideo|number_format == 1 %} checked="checked"{% endif %} />
							    </div>
							</div>
		                	
							{% if api.publicAdress is not empty %}
							<div class="form-group has-info">
								<label class="control-label col-sm-4" for="WebSockServerUrl">IP Public</label>
							    <div class="col-sm-8">
							      <input type="text" id="publicAdress" name="publicAdress"  value="{{ api.publicAdress }}"  class="form-control no-b" placeholder="e.g. 109.7.203.160" />
							    </div>
							</div>
							{% endif %}
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="WebSockServerUrl">URL Serveur WebSocket</label>
							    <div class="col-sm-8">
							      <input type="text" id="WebSockServerUrl" name="WebSockServerUrl"  value="{{ api.WebSockServerUrl }}"  class="form-control no-b" placeholder="e.g. ws://sipml5.org:5062" />
							    </div>
							</div>
							<div class="form-group has-info">
								<label class="control-label col-sm-4" for="SIPProxyUrl">URL PROXY SIP outbound</label>
							    <div class="col-sm-8">
							      <input type="text" id="SIPProxyUrl" name="SIPProxyUrl"  value="{{ api.SIPProxyUrl }}"  class="form-control no-b" placeholder="e.g. udp://sipml5.org:5060" />
							    </div>
							</div>
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="ICEServers">Serveurs ICE</label>
							    <div class="col-sm-8">
							      <input type="text" id="ICEServers" name="ICEServers"  value="{{ api.ICEServers }}"  class="form-control no-b" placeholder="e.g. [{ url: 'stun:stun.l.google.com:19302'}, { url:'turn:user@numb.viagenie.ca', credential:'myPassword'}]" />
							    </div>
							</div>
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="maxBandwidth">BANDE PASSANTE MAX (kbps)</label>
							    <div class="col-sm-8">
							      <input type="text" id="maxBandwidth" name="maxBandwidth"  value="{{ api.maxBandwidth }}"  class="form-control no-b" placeholder="e.g. { audio:64, video:512 }" />
							    </div>
							</div>
							<div class="form-group has-info">
								<label class="control-label col-sm-4" for="maxBandwidth">Taille de la vidéo</label>
							    <div class="col-sm-8">
							      <input type="text" id="VideoSize" name="VideoSize"  value="{{ api.VideoSize }}"  class="form-control no-b" placeholder="e.g. { minWidth: 640, minHeight:480, maxWidth: 640, maxHeight:480 }" />
							    </div>
							</div>
							<!-- div class="form-group has-info">
								<label class="control-label col-sm-4" for="disableIMS3Gpp">Désactiver IMS 3GPP Early</label>
							    <div class="col-sm-8 text-center">
							      <input type="checkbox" id="disableIMS3Gpp" name="disableIMS3Gpp" value="1"{% if ccapi.disableIMS3Gpp == 1 %} checked="checked"{% endif %} />
							    </div>
							</div>
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="disableDebugMessage">Désactiver les messages de debug</label>
							    <div class="col-sm-8 text-center">
							      <input type="checkbox" id="disableDebugMessage" name="disableDebugMessage" value="1"{% if ccapi.disableDebugMessage == 1 %} checked="checked"{% endif %} />
							    </div>
							</div>
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="streamMediaCache">Mettre en cache le stream media</label>
							    <div class="col-sm-8 text-center">
							      <input type="checkbox" id="streamMediaCache" name="streamMediaCache" value="1"{% if ccapi.streamMediaCache == 1 %} checked="checked"{% endif %} />
							    </div>
							</div>
		                	<div class="form-group has-info">
								<label class="control-label col-sm-4" for="disableCallOptionButton">Désactiver l'appel du bouton option</label>
							    <div class="col-sm-8 text-center">
							      <input type="checkbox" id="disableCallOptionButton" name="disableCallOptionButton" value="1"{% if ccapi.disableCallOptionButton == 1 %} checked="checked"{% endif %} />
							    </div>
							</div -->
			        		
			        		<div class="row m-t-lg">
			        			<div class="col-xs-offset-3 col-xs-6">
			        				<button id="valid" class="btn btn-xl btn-info btn-block m-b-lg"> validation </button>
			        			</div>
			        		</div>
		        		
		                </form>
		            </div>
	            </div>
            </div>

        </div>

 {% endblock %}

