<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>FINDER</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="geo.placename" content="">

        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" media="screen">
        <link rel="stylesheet" href="/demoBundle/css/flickity.min.css" media="screen">
        <link rel="stylesheet" href="/demoBundle/css/style.css" media="screen">


        <script src="/demoBundle/js/jquery-1.11.2.min.js"></script>
        <script src="/demoBundle/js/flickity.pkgd.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="/demoBundle/css/jquery.fancybox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/demoBundle/js/jquery.fancybox.pack.js?v=2.1.5"></script>
        
        <!-- Optionally add helpers - button, thumbnail and/or media -->
        <link rel="stylesheet" href="/demoBundle/js/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
        <script type="text/javascript" src="/demoBundle/js/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
        <script type="text/javascript" src="/demoBundle/js/helpers/jquery.fancybox-media.js?v=1.0.6"></script>



        <script src="/demoBundle/js/finder.js"></script>
        <!-- Awesome Font -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>

        <div id="header">
            <div id="controls">
                {% for json in files %}
                    <a href="/demo/finder?path={{json.dirName}}"><i class="fa fa-arrow-circle-left"></i> <span>{{json.dirName}}</span></a>
                {% endfor %}
            </div>
            <div id="previews-container">
                <div class="container">
                    <div class="preview-container">
                        
                    </div>
                    
                    <span class="name"></span>
                </div>

            </div>

            <div id="slider">
                {% for json in files %}
                    {% for jsonTree in  json.children %}

                        {% if jsonTree.type == "File"  %}
                            {% if jsonTree.mimeType == "application/javascript" %}
                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demoBundle/img/finder/js.png" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="/demo/finder?path={{jsonTree.path}}">
                                            <img class="small" src="/demoBundle/img/finder/js.png">
                                        </a>
                                    </div>
                                </div>

                            {% elseif jsonTree.mimeType == "application/pdf" %}
                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demoBundle/img/finder/pdf.png" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="/demo/finder?path={{jsonTree.path}}">
                                            <img class="small" src="/demoBundle/img/finder/pdf.png">
                                        </a>
                                    </div>
                                </div>

                            {% elseif jsonTree.mimeType == "image/jpeg" or jsonTree.mimeType == "image/png" %}
                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demo/finder?path={{jsonTree.path}}" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="/demo/finder?path={{jsonTree.path}}" class="image">
                                            <img class='miniature' src='/demo/finder?path={{jsonTree.path}}'>
                                        </a>
                                    </div>
                                </div>

                            {% elseif jsonTree.mimeType == "video/quicktime" or jsonTree.mimeType == "video/webm" or jsonTree.mimeType == 'video/mp4' or jsonTree.mimeType == 'audio/mpeg' %}
                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demo/finder?path={{jsonTree.path}}" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="/demo/finder?path={{jsonTree.path}}" class="video">
                                            <img class='miniature' src='/demoBundle/img/finder/mp4.png'>
                                        </a>
                                    </div>
                                </div>

                            {% else %}

                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demoBundle/img/finder/unknown.png" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="/demo/finder?path={{jsonTree.path}}">
                                            <img class="small" src="/demoBundle/img/finder/unknown.png">
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        {% else %}
                            <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demoBundle/img/finder/folder.png" data-mine="{{jsonTree.type}}">
                                <div class="icon">
                                    <a href="/demo/finder?path={{jsonTree.path}}">
                                        <img class="small" src="/demoBundle/img/finder/folder.png">
                                    </a>
                                </div>
                            </div>
                        {% endif %}


                    {% endfor %}
                {% endfor %}
            </div>
        </div>



        <div id="listing">
            <table class="table display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th class="sorting" style="width: 135px;">Nom</th>
                        <th class="sorting" style="width: 223px;">Taille</th>
                        <th class="sorting" style="width: 99px;">Type</th>
                        <th class="sorting" style="width: 41px;">Date de modification</th>
                    </tr>
                </thead>

                <tfoot>
                <th class="sorting" style="width: 135px;">Nom</th>
                <th class="sorting" style="width: 223px;">Taille</th>
                <th class="sorting" style="width: 99px;">Type</th>
                <th class="sorting" style="width: 41px;">Date de modification</th>            </tfoot>

                <tbody>
                    {% for json in files %}
                        {% for jsonTree in  json.children %}
                            <tr role="row" class="odd">
                                <td>
                                    {% if jsonTree.type == "File"  %}
                                        {% if jsonTree.mimeType == "image/jpeg" or jsonTree.mimeType == "image/png" %}
                                            <a href="/demo/finder?path={{jsonTree.path}}" class="image">{{jsonTree.name}}</a>
                                        {% else %}
                                            <a target="_blank" href="/demo/finder?path={{jsonTree.path}}">{{jsonTree.name}}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="/demo/finder?path={{jsonTree.path}}">{{jsonTree.name}}</a>
                                    {% endif %}
                                    
                                </td>
                                <td>{{jsonTree.stats.size}}</td>
                                <td>
                                    {% if jsonTree.type == "File"  %}
                                        
                                        {{jsonTree.mimeType}}
                                    {% else %}
                                        {{jsonTree.type}}
                                    {% endif %}
                                </td>
                                <td>{{jsonTree.stats.mtime}}</td>
                            </tr>

                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>

