{% extends "../layouts/layout.html.twig" %}

{% block stylesheets %}

	{{ parent() }}

	<!-- WEBPACK BUNDLE -->
	<link rel="stylesheet" href="{{CDN('stylesheet')}}/demoBundle/assets/css/finder.css" />

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	<!-- WEBPACK BUNDLE -->
	<script src="{{CDN('javascript')}}/demoBundle/assets/js/finder.js"></script>

	<script>
		finder();
	</script>

{% endblock %}

{% block body %}
	{{parent()}}

        <div id="header" style="padding-top:50px">
            <div id="controls">
                {% for json in files %}
                    <a href=" {{ path('finder' ) }}?path={{json.dirName}}"><i class="fa fa-arrow-circle-left"></i> <span>{{json.dirName}}</span></a>
                {% endfor %}
            </div>
            <div id="previews-container">
                <div class="container">
                    <div class="preview-container">

                    </div>

                    <span class="name"></span>
                </div>

            </div>

            <div id="slider">
                {% for json in files %}
                    {% for jsonTree in  json.children %}

                        {% if jsonTree.type == "File"  %}
                            {% if jsonTree.mimeType == "application/javascript" %}
                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demoBundle/images/finder/js.png" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="{{ path('finder' ) }}?path={{jsonTree.path}}">
                                            <img class="small" src="/demoBundle/images/finder/js.png">
                                        </a>
                                    </div>
                                </div>

                            {% elseif jsonTree.mimeType == "application/pdf" %}
                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demoBundle/images/finder/pdf.png" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="{{ path('finder' ) }}?path={{jsonTree.path}}">
                                            <img class="small" src="/demoBundle/images/finder/pdf.png">
                                        </a>
                                    </div>
                                </div>

                            {% elseif jsonTree.mimeType == "image/jpeg" or jsonTree.mimeType == "image/png" %}
                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="{{ path('finder' ) }}?path={{jsonTree.path}}" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="{{ path('finder' ) }}?path={{jsonTree.path}}" class="image">
                                            <img class='miniature' src='{{ path('finder' ) }}?path={{jsonTree.path}}'>
                                        </a>
                                    </div>
                                </div>

                            {% elseif jsonTree.mimeType == "video/quicktime" or jsonTree.mimeType == "video/webm" or jsonTree.mimeType == 'video/mp4' or jsonTree.mimeType == 'audio/mpeg' %}
                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="{{ path('finder' ) }}?path={{jsonTree.path}}" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="{{ path('finder' ) }}?path={{jsonTree.path}}" class="video">
                                            <img class='miniature' src='/demoBundle/images/finder/mp4.png'>
                                        </a>
                                    </div>
                                </div>

                            {% else %}

                                <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demoBundle/images/finder/unknown.png" data-mine="{{jsonTree.mimeType}}">
                                    <div class="icon">
                                        <a href="{{ path('finder' ) }}?path={{jsonTree.path}}">
                                            <img class="small" src="/demoBundle/images/finder/unknown.png">
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        {% else %}
                            <div class="gallery-cell" data-name="{{jsonTree.name|escape('html')}}" data-url="/demoBundle/images/finder/folder.png" data-mine="{{jsonTree.type}}">
                                <div class="icon">
                                    <a href="{{ path('finder' ) }}?path={{jsonTree.path}}">
                                        <img class="small" src="/demoBundle/images/finder/folder.png">
                                    </a>
                                </div>
                            </div>
                        {% endif %}


                    {% endfor %}
                {% endfor %}
            </div>
        </div>



        <div id="listing">
            <table class="table display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th class="sorting" style="width: 135px;">Nom</th>
                        <th class="sorting" style="width: 223px;">Taille</th>
                        <th class="sorting" style="width: 99px;">Type</th>
                        <th class="sorting" style="width: 41px;">Date de modification</th>
                    </tr>
                </thead>

                <tfoot>
                <th class="sorting" style="width: 135px;">Nom</th>
                <th class="sorting" style="width: 223px;">Taille</th>
                <th class="sorting" style="width: 99px;">Type</th>
                <th class="sorting" style="width: 41px;">Date de modification</th>            </tfoot>

                <tbody>
                    {% for json in files %}
                        {% for jsonTree in  json.children %}
                            <tr role="row" class="odd">
                                <td>
                                    {% if jsonTree.type == "File"  %}
                                        {% if jsonTree.mimeType == "image/jpeg" or jsonTree.mimeType == "image/png" %}
                                            <a href="{{ path('finder' ) }}?path={{jsonTree.path}}" class="image">{{jsonTree.name}}</a>
                                        {% else %}
                                            <a target="_blank" href="{{ path('finder' ) }}?path={{jsonTree.path}}">{{jsonTree.name}}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ path('finder' ) }}?path={{jsonTree.path}}">{{jsonTree.name}}</a>
                                    {% endif %}

                                </td>
                                <td>{{jsonTree.stats.size}}</td>
                                <td>
                                    {% if jsonTree.type == "File"  %}

                                        {{jsonTree.mimeType}}
                                    {% else %}
                                        {{jsonTree.type}}
                                    {% endif %}
                                </td>
                                <td>{{jsonTree.stats.mtime}}</td>
                            </tr>

                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}
