<div class="col-12 col-md-3 col-xl-2 nodefony-doc-nav">

  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link"  href="{{url("nodefony-doc")}}" role="tab" aria-selected="true">Home</a>
    <a class="nav-link active"  href="{{url("user-doc")}}" role="tab" aria-selected="true">Readme</a>
    <a class="nav-link"  href="{{url("nodefony-slides",{bundle:'users'})}}" role="tab" aria-selected="true">Presentation</a>
    <a class="nav-link"  href="{{url("openapi-doc")}}" role="tab" aria-selected="false">Swagger</a>
    <a class="nav-link"  href="{{url("graphql-doc")}}" role="tab" aria-selected="false">Graphiql</a>
    <a class="nav-link"  href="#" role="tab" aria-selected="false"></a>
  </div>

</div>
