
{% extends "src/bundles/callContactBundle/Resources/views/layouts/layout.html.twig" %}



{{trans_default_domain("login")}}

{% block title %} IDENTIFICATION {% endblock %}

{% block bodyContent %}
	{% if error %}
		<div id="error">{{error}}</div>
	{% endif %}
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

          	<h1 class="block text-center m-t-xxl">{{ "loginMessage"|trans() }}</h1>
	    	<h4 class="wrapper strong text-center">{{ "sousTitre"|trans }} <a href="#" class="pull-right text-primary text-xl"><i class="glyphicon glyphicon-question-sign"></i></a></h4> 
            <div class="account-wall">
                <form id="login" class="form-signin"  action="/secure" method="POST" >
        		<div class="list-group list-group-sm">
        			<div class="list-group-item">
	        			<input type="text" id="email"  value="{{"user"|trans}}"  class="form-control no-b" placeholder="{{"user"|trans}}" required autofocus />
	        		</div>
	        		<div class="list-group-item">
	        			<input type="password"  id="password"  class="form-control no-b" placeholder="Password" required />
	        		</div>
        		</div>
        		<div class="checkbox text-center">
				<p> <strong>Login :</strong> admin  <strong> passwd </strong>: admin </p>
				<p> <strong>Login :</strong> 1000  <strong> passwd </strong>: 1234 </p>
	        		<label>
					<input type="checkbox" value="remember-me" /> <strong>{{"remember"|trans}}</strong>
	        		</label>
        		</div>
        		<button id="valid" class="btn btn-lg btn-primary btn-block"  > {{"validation"|trans}} </button>
        		
                </form>
            </div>

        </div>


{% endblock %}

{% block javascripts %}

	{{parent()}}

	<script type="text/javascript" src="/vendors/stage/io/io.js"></script>
	<script type="text/javascript" src="/vendors/stage/crypto/base64.js"></script>
	<script type="text/javascript" src="/vendors/stage/crypto/md5.js"></script>
	<script type="text/javascript" src="/vendors/stage/io/authentication/mechanisms/digest-md5/digestMd5.js"></script>
	<script type="text/javascript" src="/vendors/stage/io/authentication/sasl/sasl.js"></script>
	<script type="text/javascript" src="/usersBundle/js/login.js"></script>
	
{% endblock %}

