{{trans_default_domain("doc")}}


<a href="https://github.com/ccamensuli/nodefony"><img style="position: fixed; top: 51px; right: 0; border: 0;z-index:8000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<center>
	<h1> Nodefony Documentation </h1>
	<h2><span class="label label-success " > {{version}} </span><h2>
</center>

<hr>
 
<div class="container">
<div class="row m-t-xl">

	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">{{ "begin" | trans() }}
				<span class="label label-success pull-right" > {{version}} </span>
			</div>
			<div class="panel-body" style="overflow: auto;">
				<ul>
					<li> <a href="{{ path('documentation-section',{section:'installation', version:version, bundle:bundle })}}"> {{"installation" | trans() | capitalize() }} </a></li>
					<li> <a href="{{ path('documentation-section',{section:'started', version:version, bundle:bundle })}}"> {{"begin" | trans() | capitalize() }} </a></li>
					<li> <a href="{{ path('documentation-version',{ version:version, bundle:'App' })}}"> {{"Application" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'configurations', version:version, bundle:bundle })}}"> {{"configurations" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'running', version:version, bundle:bundle })}}"> {{"running" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'helloWord', version:version, bundle:bundle })}}"> Hello Word </a></li>
					<li> <a href="{{ path('documentation-section',{section:'routing', version:'Default', bundle:'framework' })}}"> {{"Routing" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'controller', version:'Default', bundle:'framework' })}}"> {{"controller" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'view', version:'Default', bundle:'framework' })}}"> {{"view" | trans() | capitalize() }} </a></li> 
					<li> <a href="{{ path('documentation-section',{section:'models', version:version, bundle:bundle })}}"> {{"models" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'console', version:version, bundle:bundle })}}"> {{"console" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'websocket', version:version, bundle:bundle })}}"> {{"websocket" | trans() | capitalize() }}</a></li>  </li>
					<li> <a href="{{ path('documentation-section',{section:'monitoring', version:version, bundle:bundle })}}"> {{"monitoring" | trans() | capitalize() }}</a></li>  </li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">{{ "core" | trans() }}
				<span class="label label-success pull-right" > {{version}} </span>
			</div>
			<div class="panel-body" style="overflow: auto;">
				<ul>
					<li> <a href="{{ path('documentation-section',{section:'architectures', version:version, bundle:bundle })}}"> {{"Architecture" | trans() | capitalize() }} </a></li>
					<li> <a href="{{ path('documentation-section',{section:'autoloader', version:version, bundle:bundle })}}"> {{"Autoloader" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'kernel', version:version, bundle:bundle })}}"> {{"Kernel" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'bundles', version:version, bundle:bundle })}}"> {{"Bundles" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'dependency_injection', version:version, bundle:bundle })}}"> {{"Services Container" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'context', version:version, bundle:bundle })}}"> {{"Request context" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'finder', version:version, bundle:bundle })}}"> {{"Finder" | trans() | capitalize() }}</a></li>
					<li> <a href="{{ path('documentation-section',{section:'fileClass', version:version, bundle:bundle })}}"> {{"fileClass" | trans() | capitalize() }}</a> </li>
					<li> <a href="{{ path('documentation-section',{section:'notificationsCenter', version:version, bundle:bundle })}}"> {{"notificationsCenter" | trans() | capitalize() }}</a> </li>
					<li> <a href="{{ path('documentation-section',{section:'syslog', version:version, bundle:bundle })}}"> {{"Syslog" | trans() | capitalize() }}</a> </li>
				</ul>
			</div>
		</div>
	</div>

	
</div>


<div class="row m-t-xl">

	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">{{ "Bundles" | trans() }}
			</div>
			<div class="panel-body" style="overflow: auto;">
				<ul>
					{% for myBundle in bundles %}
					<li><a href="{{path('documentation-version', {version:myBundle.settings.version, bundle:myBundle.name})}}"><strong>{{myBundle.name}}</strong> <span class="label label-default pull-right">{{myBundle.settings.version}}</span></a></li>
					{% endfor %}

				</ul>
			</div>
		</div>
	</div>


	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">{{ "usage" | trans() }}
				<span class="label label-success pull-right" > {{version}} </span>
			</div>
			<div class="panel-body" style="overflow: auto;">
				<ul>
					<li> <a href="{{ path('documentation-version',{ version:version, bundle:'http' })}}"> {{"servers" | trans() | capitalize() }} </a> </li>
					<li> Front Proxy  NGINX </li>
					<li> Production Mode PM2 </li>
					<li> Statics Files</li>
					<li> CDN </li>
					<li> Sessions</li>
					<li> Firewall</li>
					<li> Authentication</li>
					<li> Orm</li>
					<li> <a href="{{ path('documentation-version',{ version:version, bundle:'realTime' })}}"> {{"realtime" | trans() | capitalize() }}</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>


<hr>

<div class="row m-t-xl">	
<center>
<h1> {{ "begin" | trans() }} </h1> 
<small> <a href="{{ path('documentation-section',{section:'started', version:version, bundle:bundle })}}">More details</a></small>
</br>
</center>


<h2>NODEFONY INSTALLATION : <small>See more <a href="{{ path('documentation-section',{section:'installation', version:version, bundle:bundle })}}">( Nodefony installation  documentation ) </a> </small> </h2>
<p class="doc2">
Get sources from gitHub
</p>
<pre class="doc2">

$ git clone https://github.com/ccamensuli/nodefony.git

$ cd nodefony

$ make

</pre>


<h2>Configurations : <small>See more  <a href="{{ path('documentation-section',{section:'configurations', version:version, bundle:bundle })}}">( Nodefony Configurations  documentation ) </a></small></h2>

<h3> System :</h3>
<p class="doc3">
	
	To bind server http(s) on network interface  
	Add host name "nodefony.com" in your /etc/hosts  :
	<pre class="doc3" >
$ sudo vim /etc/hosts


##
# Host Database
#
##
127.0.0.1       localhost nodefony.com
	</pre>
	
</p>


	
	
<h2>Running NODEFONY : <small>See more  <a href="{{ path('documentation-section',{section:'running', version:version, bundle:bundle })}}">( RUN Nodefony documentation ) </a></small> </h2>
<div class="doc2">
	<p >
		By default NODEFONY SERVERS listen on ports :
		<ul class="doc3">
			<li>
			http : 5151
			</li>
			<li>
			https: 5152
			</li>
		</ul>
		If you want change listen port http(s) by defaut <small>  <a href="{{ path('documentation-section',{section:'configurations', version:version, bundle:bundle, queryString:{'subsection':'framework'} })}}">( Configurations  framework ) </a></small><br>
		To check  you can run nodefony in dev mode  
	</p>

	<pre >

# Run Appliation in DEV mode

$ ./nodefony_dev
             
	</pre>
</div>

<h2>ACCEES NODEFONY APPLICATION :  </h2>
<div class="doc2">
<p >
	Access to App with URL : <strong>http://nodefony.com:5151</strong><br>

	By default the nodefony clone come with a demonstration bundle named "demoBundle" 



</p>
</div>

<center>
	<img width="800" height="463" src="/documentationBundle/images/nodefony.png"/>
</center>


</div>
</div>

