{% set  subtitle %}
<p >Method : {{ method }} &nbsp; &nbsp; &nbsp;
{{ request.protocol }} Status : {{ status }}   &nbsp; &nbsp; &nbsp; 
IP : {{ ip }}   &nbsp; &nbsp; &nbsp; 
DATE : {{ date }}   &nbsp; &nbsp; &nbsp; 
UID : {{ uid }}    
</p>
{% endset %}
{% include '../blocks/title.html.twig' with { 'title': url, 'subtitle': subtitle   } %}	
<div class="container-fluid">

	<div class="row m-t-10">

		<div class="col-md-3 ">
			
			<ul id="myNav" class="nav nav-list ">
				<li class="active" ><a  data-target="#requestNav" data-toggle="tab" >Context</a></li>
				<li><a data-target="#sessionNav"  data-toggle="tab"  > Session</a></li>	
				<li><a data-target="#twigNav" data-toggle="tab" > Twig</a></li>
				<li><a data-target="#securityNav" data-toggle="tab" > Security</a></li>
				<li><a data-target="#eventsNav" data-toggle="tab" > Events</a></li>
				<li><a data-target="#translationNav" data-toggle="tab" > Translation</a></li>
				<li><a data-target="#sequelizeNav" data-toggle="tab" > Sequelize</a></li>
				<li><a data-target="#perfNav" data-toggle="tab" > Performance</a></li>
			</ul>

		</div >

		<div class="col-md-9 " >

			<div class="tab-content">
				<div id="requestNav" class="tab-pane active ">
					<ul id="myTab" class="nav nav-pills">
						{% if response.connection == "WEBSOCKET"  %}
							<li class="active" ><a data-target="#request" data-toggle="tab" >Websosket</a></li>
							<li><a  data-target="#response" data-toggle="tab"  >Connection</a></li>
							<li><a  data-target="#messages" data-toggle="tab"  >Messages</a></li>
						{% else %}
							<li class="active" ><a data-target="#request" data-toggle="tab" >Request</a></li>
							<li><a  data-target="#response" data-toggle="tab"  >Response</a></li>
						{% endif %}
					</ul>

					<div class="tab-content">
						<div id="request" class="tab-pane active ">

							<div class=" m-t-10">
								<div class="row">
									<div class="col-md-2">
										<a class="block panel bg-info text-center wrapper">
											<div  class=" text-white font-thin no-m"><label >CONTEXT REQUEST</label></div>
                                							<h4  class="rounded bg-success text-xs">{{context.type}}</h4>
                        							</a>
									</div>

									{% if response.connection == "WEBSOCKET"  %}

										<div class="col-md-2">
											<a class="block panel bg-info text-center wrapper">
												<div  class=" text-white font-thin no-m"><label >WEBSOKET STATE</label></div>
                                								<div  class="rounded bg-success text-xs">{{response.statusCode}}</div>
                        								</a>
										</div>
									
									{% else %}

										<div class="col-md-2">
											<a class="block panel bg-info text-center wrapper">
												<div  class=" text-white font-thin no-m"><label >AJAX REQUEST</label></div>
                                								<div  class="rounded bg-success text-xs">{{context.isAjax}}</div>
                        								</a>
										</div>

									{% endif %}
									<div class="col-md-2">
										<a class="block panel bg-info text-center wrapper">
											<div  class=" text-white font-thin no-m"><label >REMOTE ADRESS</label></div>
                                							<div  class="rounded bg-success text-xs">{{ip}}</div>
                        							</a>
									</div>

									<div class="col-md-2">
										<a class="block panel bg-info text-center wrapper">
											<div  class=" text-white font-thin no-m"><label >PROXY REQUEST</label></div>
											{% if proxy | length %}
												VIA : 
												<span class="rounded bg-success text-xs"> {{proxy.proxyVia}}</span>
											{% else %}
												<span class="rounded bg-success text-xs">FALSE</span>
											{% endif %}
                        							</a>

									</div>
									<div class="col-md-2">
										<a class="block panel bg-info text-center wrapper">
											<div  class=" text-white font-thin no-m"><label >DOMAIN REQUEST</label></div>
                                							<div  class="rounded bg-success text-xs">{{context.domain}}</div>
                        							</a>
									</div>
									<div class="col-md-2">
										<a class="block panel bg-info text-center wrapper">
											<div  class=" text-white font-thin no-m"><label >CROSS DOMAIN REQUEST</label></div>
                                							<div  class="rounded bg-success text-xs">{{request.crossDomain}}</div>
                        							</a>
									</div>
									
								</div>

							</div>

							
							<div class="container-fluid">
								{% if proxy | length %}
								<h3>PROXY Headers</h3>
								<div class="wrapper" >
									<div class="table-responsive" >
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>KEY</th>
													<th>VALUE</th>
												</tr>
											</thead>
											<tbody>
											{% for key, ele in proxy %}
											<tr>
												<td>{{key}}</td>
												<td>{{ele}}</td>
											</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>


								{% endif %}

								{% if queryGet | length %}
								<h3>GET Parameters</h3>
								<div class="wrapper" >
									<div class="table-responsive" >
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>KEY</th>
													<th>VALUE</th>
												</tr>
											</thead>
											<tbody>
											{% for key, ele in queryGet %}
											<tr>
												<td>{{key}}</td>
												<td>{{ele}}</td>
											</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								{% endif %}
								{% if queryPost | length %}
								<h3>POST Parameters</h3>
								<div class="wrapper" >
									<div class="table-responsive" >
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>KEY</th>
													<th>VALUE</th>
												</tr>
											</thead>
											<tbody>
											{% for key, ele in queryPost %}
											<tr>
												<td>{{key}}</td>
												<td>{{ele}}</td>
											</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								{% endif %}
								{% if queryFile | length %}
								<h3>QUERY Files</h3>
									{% for key, ele in queryFile %}
									<div class="wrapper" >
										<div class="table-responsive" >
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>{{key}}</th>
														<th>VALUE</th>
													</tr>
												</thead>
												<tbody>
												{% for file, data in ele %}
												<tr>
													<td>{{file}}</td>
													<td>{{data}}</td>
												</tr>
												{% endfor %}
												</tbody>
											</table>
										</div>
									</div>

									{% endfor %}
								{% endif %}	

								{% if request.serverConfig | length %} 
									<h3>WEBSOCKET SERVER CONFIG</h3>
									<div class="wrapper" >
										<div class="table-responsive" >
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>KEY</th>
														<th>VALUE</th>
													</tr>
												</thead>
												<tbody>
												{% for key, ele in request.serverConfig %}
												<tr>
													<td>{{key}}</td>
													<td>{{ele}}</td>
												</tr>
												{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								{% endif %}	

								<h3>Routeur</h3>
								<div class="wrapper" >
									<div class="table-responsive" >
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>KEY</th>
													<th>VALUE</th>
												</tr>
											</thead>
											<tbody>
											{% for key, ele in routing %}
											<tr>
												<td>{{key}}</td>
												<td>{{ele}}</td>
											</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>

								<h3>Route</h3>
								<div class="wrapper" >
									<div class="table-responsive" >
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>KEY</th>
													<th>VALUE</th>
												</tr>
											</thead>
											<tbody>
											{% for key, ele in route %}
											{% if key  != "variables" %}
											<tr>
												<td>{{key}}</td>
												<td>{{ele}}</td>
											</tr>
											{% endif %}
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								{% if route.variables | length %}
								<h3>Route Parameters</h3>
								<div class="wrapper" >
									<div class="table-responsive" >
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>KEY</th>
													<th>VALUE</th>
												</tr>
											</thead>
											<tbody>
											{% for key, value in route.variables %}
											<tr>
												<td>{{routeParmeters[key]}}</td>
												<td>{{value}}</td>
											</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								{% endif %}
								<h3>Cookies</h3>
								<div class="wrapper" >
									<div class="table-responsive" >
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>NAME</th>
													<th>VALUE</th>
												</tr>
											</thead>
											<tbody>
											{% for key, ele in cookies %}
											<tr>
												<td>{{key}}</td>
												<td>{{ele.value}}</td>
											</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>

								<h3>Request Headers</h3>
								<div class="wrapper" >
									<div class="table-responsive" >
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>HEARDER</th>
													<th>VALUE</th>
												</tr>
											</thead>
											<tbody>
											{% for key, ele in request.headers %}
											<tr>
												<td>{{key}}</td>
												<td>{{ele}}</td>
											</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>

								<h3>Request Content</h3> 
								<div class="wrapper" >
									<div class="table-responsive" >
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>Data Type</th>
													<th>Data Size</th>
												</tr>
											</thead>
											<tbody>
											<tr>
												<td>{{ request["content-type"]}}</td>
												<td>{{ request.dataSize }}</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<code>
									{{ request.content}}	
								</code>	
							</div>

						<!-- end request-->
						</div>
						<div id="response" class="tab-pane ">
							{% include './response.html.twig' with { 'response': response  } %}
							
    						</div>
						<div id="messages" class="tab-pane ">
							{% include './messagesWs.html.twig' with { 'message' : message  } %}	
						</div>
					</div>
				</div>

				<div id="sessionNav" class="tab-pane ">
					{% include './session.html.twig' with { 'session': session  } %}
				</div>

				<div id="twigNav" class="tab-pane ">
					{% include './twig.html.twig' with { 'twig': twig  } %}	
					
				</div>

				<div id="securityNav" class="tab-pane ">
					{% include './security.html.twig' with { 'security': security  } %}	
				</div>

				<div id="translationNav" class="tab-pane ">
					{% include './translation.html.twig' with { 'translation': translation  } %}
				</div>

				<div id="sequelizeNav" class="tab-pane ">
					{% include './sequelize.html.twig' with { 'sequelize': sequelize  } %}
				</div>

				<div id="perfNav" class="tab-pane ">
					{% include './performance.html.twig' with { 'performance': performance  } %}
				</div>

				<div id="eventsNav" class="tab-pane ">
					{% include './events.html.twig' with { 'events': events  } %}	
				</div>

				

				
			<!--content-->
			</div>


		</div>
	</div>
</div>

<script>


</script>

<!--

						
-->
