{% include '../blocks/title.html.twig' with { 'title': 'REQUESTS ', 'subtitle': 'NODEFONY requests monitoring ' } %}			
<div class="wrapper" >
	<div class="table-responsive" >
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>DATE</th>
					<th>URL</th>
					<th>METHOD</th>
					<th>CODE RESPONSE</th>
					<th>CONTEXT</th>
					<th>ROUTE NAME</th>
					<th>SECURITY AREA FIREWALL</th>
					<th>USER</th>
					<th>SESSION NAME</th>
					<th>SESSION CONTEXT</th>
					
					
				</tr>
			</thead>
			<tbody>
			{% for request in requests %}
				<tr>
					<td>{{request.date}}</td>
					<td><a href="{{ path('request', {uid:request.uid}) }}">{{request.url}}</a></td>
					<td>{{request.method}}</td>
					<td>{{request.code}}</td>
					<td>{{request.contextType}}</td>
					<td>{{request.routing}}</td>
					<td>{{request.contextSecurity}}</td>
					<td>{{request.user}}</td>
					<td>{{request.sessionName}}</td>
					<td>{{request.sessionContext}}</td>
					
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>


