{% include '../blocks/title.html.twig' with { 'title': 'REQUESTS ', 'subtitle': 'NODEFONY requests monitoring ' } %}			
<div class="wrapper" >
	<div class="table-responsive" >
		<table class="table table-striped table-bordered" cellspacing="0" width="100%" data-type="">
			<thead>
				<tr>
					<th>UID</th>
					<th>REMOTE ADRESS</th>
					<th>USER AGENT</th>
					<th>DATE</th>
					<th>URL</th>
					<th>ROUTE NAME</th>
					<th>METHOD</th>
					<th>STATE</th>
					<th>CONTEXT</th>
					<th>USER</th>
				</tr>
			</thead>
			<tbody>
			{% for request in requests %}
				<tr>
					<td><a href="{{ path('request', {uid:request.uid}) }}">{{request.uid}}</a></td>
					<td><a href="">{{request.remoteAdress}}</a></td>
					<td><a href="">{{request.userAgent}}</a></td>
					<td>{{request.date}}</td>
					<td><a href="{{ path('request', {uid:request.uid}) }}">{{request.url}}</a></td>
					<td>{{request.routing}}</td>
					<td>{{request.method}}</td>
					<td>{{request.code}}</td>
					<td>{{request.context.type}}</td>
					<td>{{request.user}}</td>
					
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>


