<div class="container">
	<div class="row">
		<div class="col-md-6">
			<a class="block panel bg-info text-center wrapper">
				<div  class="h3 text-white font-thin no-m"><label >SECURE AREA</label></div>
                                <span class=" label label-success">{{security.name}}</span>
                        </a>

		</div>
		<div class="col-md-6">
			<a class="block panel bg-info text-center wrapper">
				<div  class="h3 text-white font-thin no-m"><label >USER</label></div>
                                <span class="h4 label label-success">{{security.user.username}}</span>
                        </a>
		</div>


	</div>
</div>

<h3>Authentication description</h3>
<div class="wrapper" >
	<div class="table-responsive" >
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>KEY</th>
					<th>VALUE</th>
				</tr>
			</thead>
			<tbody>
			{% for key, ele in security %}
			<tr>
				<td>{{key}}</td>
				<td>{{ele}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<h3>User description</h3>
<div class="wrapper" >
	<div class="table-responsive" >
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>KEY</th>
					<th>VALUE</th>
				</tr>
			</thead>
			<tbody>
			{% for key, ele in security.user %}
			<tr>
				<td>{{key}}</td>
				<td>{{ele}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

