<!-- navigation -->
<div class="app-aside-content">
	<div class="nav-wrapper">
		<div id="{{ navCssId }}" class="navigation">
			<!-- menu -->
			<!--span class="block m-t m-b wrap-rl text-xs">{{ "navigation"|trans }}</span-->
			<span class="block m-t m-b wrap-rl text-xs">NODEFONY MONITORING</span>
			<div class="aside-nav">
				<div class="list-group">
					<a 
						href="{{ path('dashboard') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa fa-th text-success"></i>
						<span>Dashboard</span>
					</a>
					<a 
						href="{{ path('configuration') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa glyphicon glyphicon-random text-success"></i>
						<span>Kernel</span>
					</a>
					<a 
						href="{{ path('bundles') }}?tab=bundlesKernel" 
						class="list-group-item font-bold" 
						data-toggle="collapse"
						data-target="#bundles" 
						data-parent="{{ navCssId }}">
						<i class="icon fa  glyphicon glyphicon-random  text-success"></i>
						<span>Bundles</span>
					</a>
					<div class="collapse" id="bundles">
						{% for bundle, value in nav %}
						<a href="{{path('config-bundle', {bundle:value['@name']})}}" class="list-group-item">{{value['@name']}}</a>
						{% endfor %}
          				</div>
					<a 
						href="{{ path('routing') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa glyphicon glyphicon-random text-success"></i>
						<span>Router</span>
					</a>
					<a 
						href="{{ path('firewall') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa  glyphicon glyphicon-random  text-success"></i>
						<span>Security</span>
					</a>
					<a 
						href="{{ path('services') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa  glyphicon glyphicon-random  text-success"></i>
						<span>Services</span>
					</a>
					<a 
						href="{{ path('users') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa  glyphicon glyphicon-random  text-success"></i>
						<span>Users</span>
					</a>
					<a 
						href="{{ path('sessions') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa  glyphicon glyphicon-random  text-success"></i>
						<span>Sessions</span>
					</a>
					<a 
						href="{{ path('syslog') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa  glyphicon glyphicon-random  text-success"></i>
						<span>Syslog Serveur</span>
					</a>
					<a 
						href="{{ path('requests') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa  glyphicon glyphicon-random  text-success"></i>
						<span>Requests</span>
					</a>

					<a 
						href="{{ path('tests') }}" 
						class="list-group-item font-bold" 
						data-parent="{{ navCssId }}">
						<i class="icon fa  glyphicon glyphicon-random  text-success"></i>
						<span>Tests</span>
					</a>

					{% set length =  nav | length %}			
					{% if length == 1 %}
						{% for component in nav %}
							{% for item in component.element %}
							<a 
								href="{{ path(item['@id']) }}" 
								module="{{ item['@id'] }}"
								class="list-group-item font-bold">
									<i class="icon {{ item['@icon'] }}"></i>
									<span>{{ item["@label"] }}</span>
							</a>
							{% endfor %}
						{% endfor %}
					{% else %}
						{% for component in nav %}
							{# TODO #}
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<!-- /menu -->
			<hr/>
			<!-- stuff -->
			<!--span class="block m-t m-b wrap-rl text-xs">Framework</span>
			<div class="aside-nav">
				<div class="list-group">
					<a 
						href="{{path("help")}}" 
						class="list-group-item">
							<i class="icon fa fa-question-circle"></i>
							<span>Documentation</span>
					</a>
					<a href="#uidev" class="list-group-item" data-toggle="collapse">
						<i class="icon fa fa-bug"></i>
						<span>Développeur</span>
						<span class="pull-right">
							<i class="fa fa-fw fa-angle-right collapse-icon"></i>
						</span>
					</a>
					<div class="collapse dk" id="uidev">
						<a href="{{path("developer", {element:"widget"})}}" class="list-group-item">
							Widgets
						</a>
						<a href="{{path("developer", {element:"button"})}}" class="list-group-item">
							Boutons
						</a>
						<a href="{{path("developer", {element:"color"})}}" class="list-group-item">
							Couleurs
						</a>
						<a href="{{path("developer", {element:"domparser"})}}" class="list-group-item">
							Domparser
						</a>
						<a href="{{path("developer", {element:"realTime"})}}" class="list-group-item">
							RealTime
						</a>
						<a href="{{path("developer", {element:"graph"})}}" class="list-group-item">
							Graph
						</a>

					</div>
				</div>
			</div!-->
				
		</div>
	</div>
</div>
<!-- /navigation -->
