{% include 'blocks/title.html.twig' with { 'title': 'SESSIONS', 'subtitle': 'SESSIONS Nodefony framework ' } %}			

<div class="panel panel-default ">
	<!-- Default panel contents -->
	<div class="panel-heading"><strong>SESSIONS    </strong></div>
	<div class="panel-body">
		<div class="table-responsive  " >
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>LAST USE</th>
						<th>USERNAME</th>
						<th>REQUEST</th>
						<th>SESSION TOKEN</th>
						<th>SESSION CONTEXT</th>
						<th>REMOTE ADRESS</th>
						<th>LOCALE</th>
						<th>USER AGENT</th>
					</tr>
				</thead>
				<tbody>
					{% for session in sessions %}
						<tr>
							<td>{{session.timestamp}}</td>
							<td>{{session.username}}</td>
							<td>{{session.metaBag.request}}</td>
							<td class="ellipsis">{{session.session_id}}</td>
							<td>{{session.context}}</td>
							<td>{{session.metaBag.remoteAddress }}</td>
							<td>{{session.lang}}</td>
							<td>{{session.metaBag.user_agent}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

