{% extends "/vendors/nodefony/bundles/frameworkBundle/Resources/views/layout.html.twig" %}


{% block title %} {{name}} {% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="/monitoringBundle/vendors/datatable/css/jquery.dataTables.css" rel="stylesheet" media="screen">
	<link href="/monitoringBundle/vendors/datatable/css/dataTables.bootstrap.css" rel="stylesheet" media="screen">

{% endblock %}



{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="/monitoringBundle/vendors/datatable/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/monitoringBundle/vendors/datatable/js/dataTables.bootstrap.js"></script>

	<script>
		$(document).ready(function(){

			$("table").DataTable()	
		})

	</script>

{% endblock %}

{% block body %}
<div class="container">

	<div class="row">
		<div class="panel panel-default ">
			<!-- Default panel contents -->
			<div class="panel-heading"><strong>ARTISTS    </strong></div>
			<div class="panel-body">

			<div class="table-responsive m " >
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th> NAME</th>
						</tr>
					</thead>
					<tbody>
						{% for artist in orm %}
						<tr>
							<td>{{artist.ArtistId}}</td>
							<td>{{artist.Name}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}
