{% extends "src/bundles/demoBundle/Resources/views/layouts/layout.html.twig" %}



{% block title %}  

	ORM


{% endblock %}



{% block stylesheets %}
	{{ parent() }}

{% endblock %}



{% block javascripts %}
	{{ parent() }}

	<script>
		$(document).ready(function(){

			$("table").DataTable()	
		})

	</script>

{% endblock %}

{% block body %}

	{{parent()}}

	<div class="container">

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong>SESSIONS  </strong></div>
				<div class="panel-body">

				<div class="table-responsive " >
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>USER ID</th>
								<th>SESSION ID</th>
							</tr>
						</thead>
						<tbody>
							{% for session in sessions %}
							<tr>
								<td>{{session.user_id}}</td>
								<td>{{session.session_id}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong>USERS    </strong></div>
				<div class="panel-body">

				<div class="table-responsive  " >
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th> ID</th>
								<th>username</th>
								<th>name</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
							<tr>
								<td>{{user.id}}</td>
								<td>{{user.username}}</td>
								<td>{{user.name}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>

	</div>



{% endblock %}
