{% extends "../layouts/layout.html.twig" %}

{% block title %}
	ORM
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		$(document).ready(function(){

			$("table").DataTable()
		})

	</script>

{% endblock %}

{% block body %}

	{{parent()}}

	{% if sessions %}
	<div class="container">

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong>SESSIONS  </strong></div>
				<div class="panel-body">

				<div class="table-responsive " >
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>USER ID</th>
								<th>SESSION ID</th>
								<th>SESSION CONTEXT</th>
							</tr>
						</thead>
						<tbody>
							{% for session in sessions %}
							<tr>
								<td>{{session.user_id}}</td>
								<td>{{session.session_id}}</td>
								<td>{{session.context}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if users %}
	<div class="container">

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong>USERS    </strong></div>
				<div class="panel-body">

				<div class="table-responsive  " >
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Username</th>
								<th>Name</th>
								<th>Surname</th>
								<th>Locale</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{user.id}}</td>
									<td>{{user.username}}</td>
									<td>{{user.name}}</td>
									<td>{{user.surname}}</td>
									<td>{{user.lang}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>

	</div>
	{% endif %}

	{% if joins %}
	<div class="container">

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong>SESSION  BY USER   </strong></div>
				<div class="panel-body">

				<div class="table-responsive  " >
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>USERNAME</th>
								<th>REQUEST</th>
								<th>SESSION TOKEN</th>
								<th>SESSION CONTEXT</th>
								<th>REMOTE ADRESS</th>
								<th>LOCALE</th>
							</tr>
						</thead>
						<tbody>
							{% for data in joins %}
							<tr>
								<td>{{data.username}}</td>
								<td>{{data.metaBag.request}}</td>
								<td>{{data.session_id}}</td>
								<td>{{data.context}}</td>
								<td>{{data.metaBag.remoteAddress }}</td>
								<td>{{data.lang}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>

	</div>
	{% endif %}
{% endblock %}
