{% stylesheets  output="/monitoringBundle/assets/debugbar.css" filter="?uglifycss"
            "/monitoringBundle/css/debugBar.css"
%}
        <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}



<div id="nodefony-container"  >
	<ul class="pull-left">
		<li> <img class="logo" src="/frameworkBundle/images/nodefony-logo.png"> </li>
		<li> <label class="label"> <a target="blank"  href='{{path("monitoring-index")}}'>NODEFONY </label><label class="label label-default" >{{kernelSettings.system.version}}</label> </a>
			<div class="details">
				<ul>
					<li><label style="color:#999">CONFIG</label></li>
					{% for key, value in kernelSettings %}
						{% if (key != "system") and  (key != "servers") %}
							<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
						{% endif %}
					{% endfor %}
					<li><label>Debug</label><span class="label label-success">{{debug}}</span></li>	
					<li><label>Git Branch</label><span class="label label-success">{{git.currentBranch}}</span></li>

					<li class="separator"> </li>
					<li><label style="color:#999">CONFIG SYSTEM</label></li>
					{% for key, value in kernelSettings.system %}
						{% if key != "log"  %}
							<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
						{% endif %}
					{% endfor %}
					<li class="separator"> </li>
					<li><label style="color:#999">SERVERS</label></li>
					{% for key, value in kernelSettings.servers %}
						<li><label>{{ key  }}</label><span class="label label-success">{{value}}</span></li>
					{% endfor %}	
						
				</ul>
			</div>
		</li>

		<li class="separator"></li>

		<li> <img  src="/monitoringBundle/images/nodejs_logo.png"> 
			<div class="details">
				<ul>
					{% for key, value in node %}
						<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
					{% endfor %}
					
				</ul>
			</div>
		</li>

		<li class="separator"></li>

		<li >
			<label class="label" >
				<a  target="blank" href='{{path("monitoring-index")}}#/config/App'>{{appSettings.projectName}}
				: <label class="label label-default">{{environment}}</label>

			</label>
			<div class="details">
				<ul>
					<li>
						<strong><a style="color:#999" target="blank" href='{{path("monitoring-index")}}#/config/App'> 
							APP</a></strong>
					</li>
					{% for key, value in appSettings %}
						<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
					{% endfor %}
					<li class="separator"> </li>
	
					<li><label style="color:#999">BUNDLES</label></li>
					{% for key, value in bundles %}
						{% if key != "App"  %}
							<li><label><a style="color:#2f2f2f"  target="blank" href='{{path("monitoring-index")}}#/config/{{key}}'>{{ key | capitalize }}</a></label><span class="label label-success">{{value.version}}</span></li>
						{% endif %}
					{% endfor %}
					<li class="separator"> </li>
					<li><label style="color:#999">ENVIRONMENT</label></li>
					<li><label>PWD</label><span class="label label-success">{{pwd}}</span></li>
					<li class="separator"> </li>
					<li><label title="content delivery network" style="color:#999">DOMAIN CDN</label></li>
					{% if cdn  %}
						{% if cdn.global %}
							<li><label>Javascript </label><span class="label label-success"> {{cdn.global}} </span></li>
							<li><label>Stylesheet </label><span class="label label-success"> {{cdn.global}}</span></li>
							<li><label>Image </label><span class="label label-success"> {{cdn.global}} </span></li>
							<li><label>font </label><span class="label label-success"> {{cdn.global}} </span></li>
						
						{% else %}	
							<li><label>Javascript </label><span class="label label-success">{% if cdn.javascript %} {{cdn.javascript}} {% else %} Inactive {% endif %} </span></li>
							<li><label>Stylesheet </label><span class="label label-success">{% if cdn.stylesheet %} {{cdn.stylesheet}} {% else %} Inactive {% endif %}</span></li>
							<li><label>Image </label><span class="label label-success">{% if cdn.image %} {{cdn.image}} {% else %} Inactive {% endif %}</span></li>
							<li><label>Font </label><span class="label label-success">{% if cdn.font %} {{cdn.font}} {% else %} Inactive {% endif %}</span></li>

						{% endif %}	
					{% else %}
						<li><label>Javascript </label><span class="label label-success"> Inactive  </span></li>
						<li><label>Stylesheet </label><span class="label label-success"> Inactive </span></li>
						<li><label>Image </label><span class="label label-success"> Inactive </span></li>
						<li><label>font </label><span class="label label-success"> Inactive </span></li>
					{% endif %}	
				</ul>
			</div>

		</li>

		<li class="separator"></li>

		<li >	
			<label class="label" ><a target="blank" href='{{path("monitoring-index")}}#/services'>SERVICES</a></label>
			<label class="label label-default" >{{nbServices}}</label>
			<div class="details">
				<ul>
					<li><label style="color:#999">TRANSLATION</label></li>
					<li><label>Locale Default</label><span class="label label-default">{{services.translation.defaultLocale}}</span></li>
					<li><label>Domain Default</label><span >{{services.translation.defaultDomain}}</span></li>
					<li class="separator"> </li>
					<li><label style="color:#999">UPLOAD</label></li>
					<li><label>Temporary Directory</label><span >{{services.upload.tmp_dir}}</span></li>
					<li><label>Max Size File</label><span >{{services.upload.max_size}}</span></li>
					<li class="separator"> </li>
					<li><label style="color:#999">SESSION</label> </li>
					{% if services.session.storage == "session.storage.files" %}
						<li><label>Storage</label><span >{{services.session.storage}}</span></li>
						<li><label>Path</label><span >{{services.session.path}}</span></li>
					{% else %}
						<li><label>Storage</label><span >{{services.session.storage}}</span></li>
					{% endif %}
					{% if services.templating %}
						<li class="separator"> </li>
						<li><label style="color:#999">TEMPLATING</label><span >{{services.templating.name}}</span></li>
						<li><label>Version</label><span >{{services.templating.version}}</span></li>
					{% endif %}
					{% if services.ORM %}
						<li class="separator"> </li>
						<li><label style="color:#999">ORM</label><span >{{services.ORM.name}}</span></li>
						<li><label>Version</label><span >{{services.ORM.version}}</span></li>
						<label style="color:#999">DATABASES CONNECTIONS : </label>
						{% for key, value in services.ORM.connections %}
							<li><label >{{key|upper}}</label></li>
							<li><label >State </label><span >{{value.state}}</span></li>
							<li><label >Type </label><span >{{value.type}}</span></li>
							{% if value.type == "sqlite" %}
								<li><label >database </label><span >{{value.db.config.database}}</span></li>
							{% else %}
								<li><label >Host </label><span >{{value.db.options.host}}</span></li>
							{% endif %}
							<li><label  >ORM Models </label><span title="{{value.db.models|keys}}">{{value.db.models|length}}</span></li>
							<li class="separator"> </li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</li>

		<li class="separator"></li>

		<li >	
			<label class="label" >
				{% if id %}
					<a target="blank" href='{{path("monitoring-index")}}#/request/{{id}}?tab=securityNav'> FIREWALL</a>
				{% else %} 
					 FIREWALL
				{% endif %}

			</label>
			{% if context_secure  %}
				<label class="label label-success" >{{context_secure.name}}</label>
				{% if context_secure.user %}
					<label class="label label-default" >{{context_secure.user.username}}</label>
				{% endif %}
				<div class="details">
					<ul>
						<li><label style="color:#999">FIREWALL</label> <label  class="label label-success"> {{context_secure.name}}</label></li>
						{% if context_secure.factory  %}
							<li><label > Authentification</label><label class="label black" >{{context_secure.factory}}</label></li>
						{% endif %}
						{% if context_secure.token  %}
							<li><label > Type</label><label class="label black" >{{context_secure.token}}</label></li>
						{% endif %}
						{% if context_secure.user  %}
							<li><label > Authenticated</label><label class="label black" >Yes</label></li>
							<li class="separator"> </li>
							<li><label style="color:#999">USER</label> </li>
							<li><label > username</label><label class="label black" >{{context_secure.user.username}}</label></li>
							<li><label > Provider</label><span class="label black" >{{context_secure.user.provider}}</span></li>
							<li><label > Lang</label><span class="label black" >{{context_secure.user.lang}}</span></li>
							<li><label > name</label><span class="label black" >{{context_secure.user.name}}</span></li>
							<li><label > surname</label><span class="label black" >{{context_secure.user.surname}}</span></li>
							<li><label > roles</label><span class="label black" >{{context_secure.user.roles}}</span></li>
						{% else %}
							<li><label > Authenticated</label><label class="label black" >No</label></li>
						{% endif %}
					</ul>
				</div>
			{% else %}
				<label class="label label-default" >OFF</label>
				<div class="details">
					<ul>
						{% for key, value in security %}
							<li><label style="color:#999"> {{key|upper}}</label><label class="label label-default" >OFF</label></li>
							<li><label >Pattern </label><span >{{value.pattern}}</span></li>
							<li><label >Factory </label><span >{{value.factory}}</span></li>
							<li><label >Provider </label><span >{{value.provider}}</span></li>
							<li><label >Context Session</label><span >{{value.context}}</span></li>
							<li class="separator"></li>
						{% endfor %}	
					</ul>
				</div>
			{% endif %}
		</li>

		<li class="separator"></li>

		<li >	
			<label class="label label-default">
				{% if id %}
					<a target="blank" href='{{path("monitoring-index")}}#/request/{{id}}?tab=request'>{{routeur.pattern}}<a>
				{% else %}
					 {{routeur.pattern}}
				{% endif %}
			</label>
			<div class="details">
				<ul>
					<li><label style="color:#999">ROUTER SERVICE</label></li>
					<li><label>Bundle</label><span class="label label-success">{{routeur.bundle}}</span></li>
					<li><label>Pattern</label><span class="label label-success">{{routeur.pattern}}</span></li>
					<li><label>Controller</label><span class="label label-success">{{routeur.Controller}}</span></li>
					<li><label>Action</label><span class="label label-success">{{routeur.action}}</span></li>
					<li class="separator"> </li>
					<li><label style="color:#999">ROUTE</label></li>
					{% for key, value in route %}
						{% if key == "variables" %}
							{% if route.variables | length %}
								<label class="label" style="color:#999">Variables :</label>
								{% for key, value in route.variables %}
									<li><label>{{varialblesName[key]}}</label><span class="label label-success">{{value}}</span></li>	
								{% endfor %}
							{% endif %}
						{% else %}
							<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
						{% endif %}
					{% endfor %}
					<li class="separator"></li>
					
					<li><label style="color:#999">TRANSLATION</label></li>
					<li><label>Local</label><span class="label label-success">{{locale.default}}</span></li>
					<li><label>Domain</label><span class="label label-success">{{getTransDefaultDomain()}}</span></li>	

				</ul>
			</div>
		</li>
		<li class="separator"></li>

		<li>

			{% if proxy %}
				<label class="label label-default" >PROXY</label>
			{% endif %}	
			<label class="label label-success" >{{ request.protocol }}</label>
			{% if id %}	
				<label class="label" ><a target="blank" href='{{path("monitoring-index")}}#/request/{{id}}'>REQUEST</a></label>
			{% else %}
				<label class="label" >REQUEST</label>
			{% endif %}
			
			
			<label class="label label-default" >{{ request.method }}</label>
			{% if request.crossDomain %}
				<label class="label label-default" >Cross Domain</label>
			{% endif %}
			<div class="details">
				<ul>
					{% for key, value in request %}
						{% if key == "url" %}
							<li><label>URL</label><span style="font-size:15px" class="label label-default">{{value}}</span></li>
						{% endif %}
						{% if key == "remoteAddress" %}
							<li><label>Remote Address</label><span>{{value}}</span></li>
							<li class="separator"></li>
						{% endif %}
							
						{% if key == "headers" %}
							{% if id %}
								<li><label class="label" ><a style="color:#999" target="blank" href='{{path("monitoring-index")}}#/request/{{id}}'>SHOW HEADERS</a></label></li>
							{% endif %}
							{% for key, value in request.headers %}
								<!--li><label>{{ key | capitalize }}</label><span class="label black">{{value}}</span></li-->
							{% endfor %}
						{% endif %}
						{% if key == "queryPost" and request.queryPost is not empty  %}
							<li><label style="color:#999">QUERY POST</label></li>
							{% for key, value in request.queryPost %}
								<li><label>{{ key  }}</label><span >{{value}}</span></li>
							{% endfor %}
							<li class="separator"></li>
						{% endif %}
						{% if key == "queryGet" and request.queryGet is not empty %}
							<li><label style="color:#999">QUERY GET</label></li>
							{% for key, value in request.queryGet %}
								<li><label>{{ key  }}</label><span >{{value}}</span></li>
							{% endfor %}
							<li class="separator"></li>
						{% endif %}
					{% endfor %}

					{% if proxy %}
						<li class="separator"></li>
						<li><label style="color:#999">PROXY</label></li>
						<label class="label label-default" ></label>
						{% for key, value in proxy %}
							<li><label>{{ key  }}</label><span >{{value}}</span></li>
						{% endfor %}
					{% endif %}	

					{% if session %}
						<li class="separator"></li>
						<li><label style="color:#999">SESSION</label> <label >{{session.name}}</label></li>
						<li><label>Token</label><span class="label label-success">{{session.id}}</span></li>
						<li><label>Metas</label>
							<span >
								{% for key, value in session.metas %}
									{% if key == "lifetime" %}
										<li><label style="margin-left:20px" class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value}}</span></li>
									{% endif %}
									{% if key == "created" %}
										<li><label style="margin-left:20px"class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value|date("d/m/Y g:ia")}}</span></li>
									{% endif %}
									{% if key == "lastUsed" %}
										<li><label style="margin-left:20px" class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value|date('d/m/Y g:ia')}}</span></li>
									{% endif %}
									{% if key == "context" %}
										<li><label style="margin-left:20px" class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value}}</span></li>
									{% endif %}
								{% endfor %}
							</span>
						</li>
						<li><label>Attributes</label>
							<span>
								{% for key, value in session.attributes %}
									<li><label style="margin-left:20px" class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value}}</span></li>
								{% endfor %}
							</span>
						</li>
						<li><label>Flashes</label>
							<span>
								{% for key, value in session.flashes %}
									<li><label style="margin-left:20px" class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value}}</span></li>
								{% endfor %}
							</span>
						</li>
					{% endif %}
	
				</ul>
			</div>


		</li>

		<li class="separator"></li>

		<li>
			{% if id %}	
				<label class="label" ><a target="blank" href='{{path("monitoring-index")}}#/request/{{id}}?tab=response'>RESPONSE</a></label>
			{% else %}
				<label class="label" >RESPONSE</label>
			{% endif %}
			<label class="label label-success" >{{ response.statusCode }}</label>
			<label class="label label-success" >{{ timeRequest }}</label>
			<div class="details">
				<ul>
					{% for key, value in response %}
						{% if key == "statuscode" %}
							<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}} {{response.message}}</span></li>
						{% else %}
							
							{% if key != "headers" %}
								<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
							{% else %}
								<li class="separator"></li>
								<li><label style="color:#999">HEADERS</label></li>

								{% for header, val in response["headers"] %}
									<li><label>{{ header | capitalize }}</label><span class="label label-success">{{val}}</span></li>
								{% endfor %}


							{% endif %}
						{% endif %}
					{% endfor %}
						
				</ul>
			</div>
		</li>


		<li class="separator"></li>
	</ul>
	<ul class="pull-right">
		<li> <img id="nodefonyClose" src="/monitoringBundle/images/window-close.ico">

	</ul>
</div>

<div id="nodefony-small" class='hidden logo'>
	<img src="/frameworkBundle/images/nodefony-logo.png">
</div>

{% javascripts output='/monitoringBundle/assets/js/debugBar.js' filter='?uglifyjs2'
		"/monitoringBundle/js/debugBar.js"
%}
	<script type="text/javascript"  src="{{ asset_url }}"></script>
{% endjavascripts %}

