<link href="/monitoringBundle/css/debugBar.css" rel="stylesheet"/>	


<div id="nodefony-container"  >
	<ul class="pull-left">
		<li> <img class="logo" src="/monitoringBundle/images/fire.png"> </li>
		<li> <label class="label" > <a href='{{path("monitoring")}}'>{{kernelSettings.name}} &nbsp <label class="label label-default" >{{kernelSettings.system.version}}</label> </a></label>
			<div class="details">
				<ul>
					{% for key, value in kernelSettings %}
						{% if key != "system" %}
							<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
						{% else %}
							{% for key, value in kernelSettings.system %}
								{% if key != "log" %}
									<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
					<li><label>Debug</label><span class="label label-success">{{debug}}</span></li>	
				</ul>
			</div>

		</li>

		<li class="separator"></li>

		<li> <img  src="/monitoringBundle/images/nodejs_logo.png"> 
			<div class="details">
				<ul>
					{% for key, value in node %}
						<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
					{% endfor %}
					
				</ul>
			</div>
		</li>

		<li class="separator"></li>

		<li >
			<label class="label" >{{appSettings.projectName}} : {{environment}}</label>
			<div class="details">
				<ul>
					<li><label style="color:#999">APP</label></li>
					{% for key, value in appSettings %}
						<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
					{% endfor %}
					<li class="separator"> </li>
	
					<li><label style="color:#999">BUNDLES</label></li>
					{% for key, value in bundles %}
						{% if key != "App"  %}
							<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value.version}}</span></li>
						{% endif %}
					{% endfor %}
						
				</ul>
			</div>

		</li>

		<li class="separator"></li>

		<li >	
			<label class="label" >SERVICES</label>
			<label class="label label-default" >{{nbServices}}</label>
			<div class="details">
				<ul>
					<li><label style="color:#999">TRANSLATION</label></li>
					<li><label>Locale Default</label><span class="label label-default">{{services.translation.defaultLocale}}</span></li>
					<li><label>Domain Default</label><span >{{services.translation.defaultDomain}}</span></li>
					<li class="separator"> </li>
					<li><label style="color:#999">UPLOAD</label></li>
					<li><label>Temporary Directory</label><span >{{services.upload.tmp_dir}}</span></li>
					<li><label>Max Size File</label><span >{{services.upload.max_size}}</span></li>
					<li class="separator"> </li>
					<li><label style="color:#999">SESSION</label> </li>
					{% if services.session.storage == "session.storage.files" %}
						<li><label>Storage</label><span >{{services.session.storage}}</span></li>
						<li><label>Path</label><span >{{services.session.path}}</span></li>
					{% else %}
						<li><label>Storage</label><span >{{services.session.storage}}</span></li>
					{% endif %}
				</ul>
			</div>
		</li>

		<li class="separator"></li>

		<li >	
			<label class="label" >FIREWALL</label>
			{% if context_secure  %}
				<label class="label label-success" >{{context_secure.name}}</label>
				{% if context_secure.user %}
					<label class="label label-default" >{{context_secure.user.username}}</label>
				{% endif %}
				<div class="details">
					<ul>
						<li><label style="color:#999">FIREWALL</label> <label  class="label label-success"> {{context_secure.name}}</label></li>
						{% if context_secure.factory  %}
							<li><label > Authentification</label><label class="label black" >{{context_secure.factory}}</label></li>
						{% endif %}
						{% if context_secure.token  %}
							<li><label > Type</label><label class="label black" >{{context_secure.token}}</label></li>
						{% endif %}
						{% if context_secure.user  %}
							<li><label > Authenticated</label><label class="label black" >Yes</label></li>
							<li class="separator"> </li>
							<li><label style="color:#999">USER</label> </li>
							<li><label > username</label><label class="label black" >{{context_secure.user.username}}</label></li>
							<li><label > userid</label><span class="label black" >{{context_secure.user.id}}</span></li>
							<li><label > roles</label><span class="label black" >{{context_secure.user.roles}}</span></li>
						{% else %}
							<li><label > Authenticated</label><label class="label black" >No</label></li>
						{% endif %}
					</ul>
				</div>
			{% else %}
				<label class="label label-default" >OFF</label>
				<div class="details">
					<ul>
						{% for key, value in security %}
							<li><label style="color:#999"> {{key|upper}}</label><label class="label label-default" >OFF</label></li>
							<li><label >Pattern </label><span >{{value.pattern}}</span></li>
							<li><label >Factory </label><span >{{value.factory}}</span></li>
							<li><label >Provider </label><span >{{value.provider}}</span></li>
							<li class="separator"></li>
						{% endfor %}	
					</ul>
				</div>
			{% endif %}
		</li>

		<li class="separator"></li>

		<li >	
			<label class="label label-default">{{pattern}}</label>
			<div class="details">
				<ul>
					<li><label style="color:#999">ROUTER SERVICE</label></li>
					<li><label>Controller</label><span class="label label-success">{{controller}}</span></li>
					<li><label>Bundle</label><span class="label label-success">{{bundle}}</span></li>
					<li><label>Controller Name</label><span class="label label-success">{{controllerName}}Controller</span></li>
					<li><label>Action</label><span class="label label-success">{{action}}Action</span></li>
					<li class="separator"> </li>
					<li><label style="color:#999">ROUTE</label></li>
					{% for key, value in route %}
						{% if key == "variables" %}
							{% if route.variables | length %}
								<label class="label" style="color:#999">Variables :</label>
								{% for key, value in route.variables %}
									<li><label>{{varialblesName[key]}}</label><span class="label label-success">{{value}}</span></li>	
								{% endfor %}
							{% endif %}
						{% else %}
							<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>
						{% endif %}
					{% endfor %}
					<li class="separator"></li>
					
					<li><label style="color:#999">TRANSLATION</label></li>
					<li><label>Local</label><span class="label label-success">{{locale.default}}</span></li>
					<li><label>Domain</label><span class="label label-success">{{getTransDefaultDomain()}}</span></li>	

				</ul>
			</div>
		</li>
		<li class="separator"></li>

		<li>
			<label class="label" >Request</label>
			<label class="label label-success" >{{ request.method }}</label>
			{% if request.crossDomain %}
				<label class="label label-default" >Cross Domain</label>
			{% endif %}
			<div class="details">
				<ul>
						
					{% for key, value in request %}
						{% if key == "url" %}
							<li><label>URL</label><span style="font-size:15px" class="label label-default">{{value}}</span></li>
						{% endif %}
						{% if key == "remoteAdress" %}
							<li><label>Remote Address</label><span>{{value}}</span></li>
							<li class="separator"></li>
						{% endif %}
						{% if key == "headers" %}
							<li><label style="color:#999">HEADERS</label></li>
							{% for key, value in request.headers %}
								<li><label>{{ key | capitalize }}</label><span class="label black">{{value}}</span></li>
							{% endfor %}
						{% endif %}
						{% if key == "queryPost" and request.queryPost is not empty  %}
							<li><label style="color:#999">QUERY POST</label></li>
							{% for key, value in request.queryPost %}
								<li><label>{{ key  }}</label><span >{{value}}</span></li>
							{% endfor %}
							<li class="separator"></li>
						{% endif %}
						{% if key == "queryGet" and request.queryGet is not empty %}
							<li><label style="color:#999">QUERY GET</label></li>
							{% for key, value in request.queryGet %}
								<li><label>{{ key  }}</label><span >{{value}}</span></li>
							{% endfor %}
							<li class="separator"></li>
						{% endif %}
					{% endfor %}
					{% if session %}
						<li class="separator"></li>
						<li><label style="color:#999">SESSION</label> <label >{{session.name}}</label></li>
						<li><label>Token</label><span class="label label-success">{{session.id}}</span></li>
						<li><label>Metas</label>
							<span >
								{% for key, value in session.metas %}
									{% if key == "lifetime" %}
										<li><label style="margin-left:20px" class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value}}</span></li>
									{% endif %}
									{% if key == "created" %}
										<li><label style="margin-left:20px"class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value|date("d/m/Y g:ia")}}</span></li>
									{% endif %}
									{% if key == "lastUsed" %}
										<li><label style="margin-left:20px" class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value|date('d/m/Y g:ia')}}</span></li>
									{% endif %}
								{% endfor %}
							</span>
						</li>
						<li><label>Attributes</label>
							<span>
								{% for key, value in session.attributes %}
									<li><label style="margin-left:20px" class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value}}</span></li>
								{% endfor %}
							</span>
						</li>
						<li><label>Flashes</label>
							<span>
								{% for key, value in session.flashes %}
									<li><label style="margin-left:20px" class="label  label-default">{{ key  }}</label><span style="margin-left:20px">{{value}}</span></li>
								{% endfor %}
							</span>
						</li>
					{% endif %}
	
				</ul>
			</div>


		</li>

		<li class="separator"></li>

		<li>
			<label class="label" >Response</label>
			<label class="label label-success" >{{ response.statusCode }}</label>
			<label class="label label-success" >{{ timeRequest }}</label>
			<div class="details">
				<ul>
					{% for key, value in response %}
						{% if key == "statuscode" %}
							<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}} {{response.message}}</span></li>
						{% else %}
							
							<li><label>{{ key | capitalize }}</label><span class="label label-success">{{value}}</span></li>

						{% endif %}
					{% endfor %}
						
				</ul>
			</div>
		</li>


		<li class="separator"></li>
	</ul>
	<ul class="pull-right">
		<li> <img id="nodefonyClose" src="/monitoringBundle/images/close.png">

	</ul>
</div>

<div id="nodefony-small" class='hidden'>
	<img src="/monitoringBundle/images/fire.png">
</div>

<script type="text/javascript" src="/monitoringBundle/js/debugBar.js"></script>
