{% extends "/app/Resources/views/base.html.twig" %}

{% block meta %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}

{% block title %}Nodefony Monitoring{% endblock %}

{% block body %}
	<div class="hide environment" value="{{environment}}"></div>
	<div class="hide debug" value="{{debug}}" >{{debug}}</div>
{% endblock %}


{% block stylesheets %}
	<link href="/monitoringBundle/assets/css/monitoring.css" rel="stylesheet"/>

	
	{% stylesheets  output="/monitoringBundle/assets/css/vendor.css" filter="?uglifycss"
	    "/frameworkBundle/vendors/dataTable/css/dataTables.bootstrap.min.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
	
	{% javascripts output='/monitoringBundle/assets/js/vendors.js' filter='?uglifyjs2'
		"/frameworkBundle/vendors/dataTable/js/jquery.dataTables.js"
		"/frameworkBundle/vendors/dataTable/js/dataTables.bootstrap.js"
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script type="text/javascript" src="/monitoringBundle/assets/js/monitoring.js"></script>



{% endblock %}

