{% extends "../layouts/layout.html.twig" %}


{% block title %}  

	UPLOAD


{% endblock %}



{% block stylesheets %}
	{{ parent() }}


	<link href="/demoBundle/jQuery.filer-1.0.5/css/jquery.filer.css" type="text/css" rel="stylesheet" />
	<link href="/demoBundle/jQuery.filer-1.0.5/css/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />
	

{% endblock %}


	
{% block body %}

{{parent()}}

<section id="services" class="pfblock pfblock-gray screen-height">
	<div class="container">

		<div class="row">
                        <div class="col-md-6">
                                <b>Example NATIVE FORM MULTIPLE FILES:</b>
                                <br><br>
                                <p>If you want to have an input like in Example 1 and also to allow your users to upload files from different folders just set <span class="text-info"><b>addMore</b></span> option to <em>true</em></p>
                                <pre class="prettyprint lang-js prettyprinted"><span class="pln">addMore</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">true</span></pre>
                        </div>
                        <div class="col-md-6">
                                <b>Result:</b>
                                <br><br>
                                <form id="form1" action="{{path("uploadFile")}}" data-uri="{{path("uploadFile")}}" method="post" enctype="multipart/form-data">
					<input type="file" name="files[]" id="filer_input" multiple="multiple">
					<input type="submit" value="Submit">
				</form>
                        </div>
                </div>

		<div class="row">
                        <div class="col-md-6">
                                <b>Example AJAX DRAG DROP INSTANT UPLAOD  :</b>
                                <br><br>
                                <p>If you want to have an input like in Example 1 and also to allow your users to upload files from different folders just set <span class="text-info"><b>addMore</b></span> option to <em>true</em></p>
                                <pre class="prettyprint lang-js prettyprinted"><span class="pln">addMore</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">true</span></pre>
                        </div>
                        <div class="col-md-6">
                                <b>Result:</b>
                                <br><br>
                                <form id="form2" action="{{path("uploadFile")}}" data-uri="{{path("uploadFile")}}" method="post" enctype="multipart/form-data">
					<input type="file" name="files[]" id="filer_input2" multiple="multiple">
					<input type="submit" value="Submit">
				</form>
                        </div>
                </div>

	</div>
</section>

{% endblock %}


{% block javascripts %}
	{{parent()}}
	
	<script src="/demoBundle/jQuery.filer-1.0.5/js/jquery.filer.min.js"></script>
	<script src="/demoBundle/js/upload.js"></script>

	<script type="text/javascript">	
	</script>	



{% endblock %}

		
