<html>
	<head>
		<title>{{ emailtitle }}</title>
		
		<link href="/mailerBundle/css/email-style.css" rel="Stylesheet" type="text/css" />
	</head>
	<body>
		<p>HTML EMAIL</p>
		<p class="title">{{ title }} {{ name }} {{ firstname }},</p>
		<p class="paragraphe">
					
			NODEFONY
		</p>
		<p class="paragraphe">
		Pour tester ce framework veuillez vous connecter sur : {{ demoLink }}
		</p>
		<p class="paragraphe">
		Merci de prendre temps pour l'étude de notre framework, en espérant qu'il vous satifasse.
		</p>
		<p class="signature">
		L'équipe web nodefony.
		</p>
		<p  class="address">
		nodefony : <br/>
		</p>
		<img src="{{ img }}" width="740" height="45">
	</body>
</html>
