{% extends "src/bundles/callContactBundle/Resources/views/layouts/layout.html.twig" %}


{% block title %} CALL-CONTACT {% endblock %}


{% block navBar %}
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
	 		<div class="navbar-header">
	 			<div class="logo"></div>
				<a class="navbar-brand" href="../">  {{bundle.name|upper}}  :</a>
				
				<div class="navbar-brand" >  Version : {{bundle.version|upper}} </div>
				<div class="navbar-brand" >  Culture : {{bundle.locale|upper}} </div>
			</div>
		</div>
	</div>	
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container-fluid">
		<div class="row-fluid m-t-xl">
			<div class="col-md-2">
				<div class="panel panel-success">
					<div class="panel-heading">AGENT WEBRTC</div>
			  		<div class="panel-body">
			  			<div class="text-center m-t-lg">
							<span class="pointer openDial">
								<span class="fa fa-headphones fa-5x"></span><br/>
								<span class="text-info">Connection CALL-CONTACT</span>
							</span>
						</div>
			  		</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">AGENT SMARTCC </div>
			  		<div class="panel-body">
			  			<div class="text-center m-t-lg">
							<span class="pointer">
								<a href="https://agent.callcontact.les800.com/smartccagentpanel/private/home.html?55f9263b394439a50f8b4569" target="_blank"><span class="fa fa-headphones fa-5x"></span><br/></a>
								<span class="text-info">Connection CALL-CONTACT</span>
							</span>
						</div>
			  		</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">CONFIGURATION ACTIVE</div>
			  		<div class="panel-body">
			  			<div class="text-center m-t-lg">
							<a href="{{path('callContactConfiguration')}}"><div class="label label-primary " style="font-size:25px">{{api}}</div></a>
						</div>
			  		</div>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="panel panel-info">
					<div class="panel-heading">SIP</div>
			  		<div class="panel-body" style="overflow: auto;">
			  			<div class="table-responsive min-h-panel">
			  				<table id="sipLog" class="table"></table>
			  			</div>
			  		</div>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="panel panel-info">
					<div class="panel-heading"> CONNECTIONS ACTIVES</div>
			  		<div class="panel-body">
			  			<div class="table-responsive min-h-panel">
			  				<table id="connectionHistory" class="table"></table>
			  			</div>
			  		</div>
				</div>
			</div>
			
		</div>
	</div>
	
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/callContactBundle/css/dataTables.bootstrap.css" />
	<link rel="stylesheet" href="/callContactBundle/css/colReorder.bootstrap.css" />
	<link rel="stylesheet" href="/callContactBundle/css/responsive.bootstrap.css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="/callContactBundle/js/datatables/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/callContactBundle/js/datatables/dataTables.bootstrap.js"></script>
	<script type="text/javascript" src="/callContactBundle/js/datatables/dataTables.colReorder.js"></script>
	<script type="text/javascript" src="/callContactBundle/js/datatables/dataTables.responsive.js"></script>
	<script type="text/javascript" src="/callContactBundle/js/datatables/responsive.bootstrap.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			$('.openDial').click(function(){
				window.open('{{ path('callContactDialPopup') }}', 'dialPopup', 'top=0,left=0,height=800,width=350,titlebar=0,status=0,toolbar=0,menubar=0,scrollbars=1,resizable=0,menubar=0');
			});

			$('#sipLog').DataTable({
				responsive: true,
				ajax: "{{ path('sipLog') }}",
				columns: [
					{ data: "_id", title: "ID" },
					{ data: "method", title: "method" },
		            { data: "from_tag", title: "from_tag" },
		            { data: "to_tag", title: "to_tag" },
		            { data: "callid", title: "callid" },
		            { data: "sip_code", title: "sip_code" },
		            { data: "sip_reason", title: "sip_reason" },
		            { data: "time", title: "time" },
		            { data: "src_user", title: "src_user" },
		            { data: "src_domain", title: "src_domain" },
		            { data: "src_ip", title: "src_ip" },
		            { data: "dst_ouser", title: "dst_ouser" },
		            { data: "dst_user", title: "dst_user" },		            
		            { data: "dst_domain", title: "dst_domain" }
		        ]
			});


			$('#connectionHistory').DataTable({
				responsive: true,
				ajax: "{{ path('connectHistory') }}",
				columns: [
					{ data: "_id", title: "ID" },
		            { data: "username", title: "Nom" },
		            { data: "contact", title: "Contact" },
		            { data: "expires", title: "Expire" },
		            { data: "q", title: "q" },
		            { data: "callid", title: "callid" },
		            { data: "cseq", title: "cseq" },
		            { data: "flags", title: "flags" },
		            { data: "cflags", title: "cflags" },
		            { data: "user_agent", title: "User Agent" },
		            { data: "received", title: "received" },
		            { data: "path", title: "path" },
		            { data: "socket", title: "socket" },
		            { data: "methods", title: "methods" },
		            { data: "last_modified", title: "last_modified" },
		            { data: "ruid", title: "ruid" },
		            { data: "instance", title: "instance" },
		            { data: "reg_id", title: "reg_id" },
		            { data: "server_id", title: "server_id" },
		            { data: "connection_id", title: "connection_id" },
		            { data: "keepalive", title: "keepalive" },
		            { data: "partition", title: "partition" }
		        ]
			});
			
		});
	</script>
{% endblock %}


