{% extends "../layouts/layout.html.twig" %}

{{trans_default_domain("login")}}

{% block stylesheets %}
	{{ parent() }}


	<!--link rel="stylesheet" href="{{CDN('stylesheet')}}/demoBundle/assets/css/login.css" /-->
	<link rel="stylesheet" href="{{CDN('stylesheet')}}/demoBundle/css//login/style.css" />

{% endblock %}

{% block body %}
	{{ parent() }}
	{% if error %}
		<div id="error">{{error}}</div>
	{% endif %}

	<div class="hide" id="adduser">{{ getFlashBag('adduser') }}</div>

	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<div class="login-cover">
	    	<div class="login-cover-image"><img src="/demoBundle/images/login-bg/lisa-ricciotti-photographe-chateau-if.jpg" data-id="login-cover-image" alt="" /></div>
	    	<div class="login-cover-bg"></div>
	</div>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    	<!-- begin login -->
        	<div class="login login-v2" data-pageload-addclass="animated fadeIn" style="top:-40px">
            		<!-- begin brand -->
            		<div class="login-header" >
                		<div class="brand">
					{% if type == "passport-local" %}
						<span><a href="http://passportjs.org/"><img width="45px" height="41px" src="/demoBundle/images/passportjs.png" alt="passportjs"></img></a></span>  {{type}}
					{% else %}
						<span class=""><img width="50px" height="46px" src="/frameworkBundle/images/nodefony-logo.png"></img></span>  {{type}}
					{% endif %}
                    			<small>Authentication : </small>
                		</div>
                		<div class="icon">
                    			<i class="fa fa-sign-in"></i>
                		</div>
            		</div>
            		<!-- end brand -->
            		<div class="login-content">
				{% if type == "passport-local" %}
					<form id="login" action="{{path('localArea')}}" method="POST" class="margin-bottom-0">
						<div class="form-group m-b-20">
                        				<input id="email" name="email"  type="text" class="form-control input-lg" placeholder="Login" />
                    				</div>
                    				<div class="form-group m-b-20">
                        				<input id="passwd" name="passwd" type="password" class="form-control input-lg" placeholder="Password" />
                    				</div>
				{% else %}
					<form id="login" action="{{path('saslArea')}}" method="POST" class="margin-bottom-0">
						<div class="form-group m-b-20">
                        				<input id="email"  type="text" class="form-control input-lg" placeholder="Login" />
                    				</div>
                    				<div class="form-group m-b-20">
                        				<input id="passwd"  type="password" class="form-control input-lg" placeholder="Password" />
                    				</div>
				{% endif %}

                    				<div class="checkbox m-b-20">
                        				<label>
								<p>login : admin  passwd : admin</p>
								<p>login : 1000  passwd : 1234</p>
                        				</label>
                    				</div>
                    				<div class="login-buttons">
                        				<button id="valid"  class="btn btn-success btn-block btn-lg">Sign me in</button>
                    				</div>

                		</form>
            		</div>
        	</div>
        	<!-- end login -->

        	<ul class="login-bg-list" style="bottom:60px">
            		<li ><a href="#" data-click="change-bg"><img src="/demoBundle/images/login-bg/mucem-marseille-musee-ricciotti1.jpg" alt="" /></a></li>
            		<li ><a href="#" data-click="change-bg"><img src="/demoBundle/images/login-bg/stjean.jpg" alt="" /></a></li>
            		<li class="active"><a href="#" data-click="change-bg"><img src="/demoBundle/images/login-bg/lisa-ricciotti-photographe-chateau-if.jpg" alt="" /></a></li>
            		<li><a href="#" data-click="change-bg"><img src="/demoBundle/images/login-bg/Notre_Dame_de_la_Garde.jpg" alt="" /></a></li>
            		<li><a href="#" data-click="change-bg"><img src="/demoBundle/images/login-bg/farillon.jpeg" alt="" /></a></li>
        	</ul>

	</div>
	<!-- end page container -->


{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		window.loginType = "{{type}}";
	</script>
	<!-- ================== BEGIN BASE JS ================== -->
	<script type="text/javascript" src="{{CDN('javascript')}}/securityBundle/js/login.js"></script>

	<script type="text/javascript" src="{{CDN('javascript')}}/demoBundle/assets/js/login.js"></script>

{% endblock %}
