{% extends "../layouts/layout.html.twig" %}

{{trans_default_domain("login")}}

{% block title %} {{title| trans}} {% endblock %}


{% block stylesheets %}

	{{ parent() }}
		<!-- WEBPACK BUNDLE -->
	<link rel="stylesheet" href="{{CDN('stylesheet')}}/demoBundle/assets/css/demo.css" />

		
	<style>	
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 10px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.login-title
{
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-img
{
	border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-name
{
    display: block;
    margin: 30px 10px 10px;
}
.logo-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
	
	</style>	
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	<!-- WEBPACK BUNDLE -->
	<script src="{{CDN('javascript')}}/demoBundle/assets/js/demo.js"></script>

	
	<script> 
		demo();
	</script>

{% endblock %}

{% block body %}

	<!-- Preloader -->

	<div id="preloader">
		<div id="status"></div>
	</div>

	{{ parent() }}

	<section id="loginSection" class=" pfblock-gray screen-height ">
		{% if error %}
			<div id="error">{{error}}</div>
		{% endif %}
		{% if adduser %}
			<div id="adduser">{{adduser}}</div>
		{% endif %}
		<div class="container">
			<div class="row">
				<h2 class="block text-center text-primary ">{{ "loginMessage"|trans() }}</h2>
				<h4 class="wrapper strong text-center">{{ "sousTitre"|trans }} </h4>
				<div class="col-sm-6 col-md-4 col-md-offset-4">

					<div class="account-wall">
						<div id="my-tab-content" class="tab-content">
							<!--div class="tab-pane active" id="homelogin">
								<img class="profile-img" src="/demoBundle/images/user.png" alt=""/>
								<form  id="login" class="form-signin" action="{{path("demoSecure")}}" method="POST">
									<input id="email" type="text" class="form-control"  placeholder="{{"user"|trans}}" required autofocus>
									<input id="password" type="password" class="form-control" placeholder="{{"pwd"|trans}}" required>
									<input id="valid" type="submit" class="btn btn-lg btn-default btn-block" value={{"validation"|trans}} />
								</form>
								<div class="checkbox text-center">
									<p> <strong>{{"user"|trans}} :</strong> admin  <strong> {{"pwd"|trans}} </strong>: admin </p>
									<p> <strong>{{"user"|trans}} :</strong> 1000  <strong> {{"pwd"|trans}} </strong>: 1234 </p>
								</div>
								<div id="tabs" data-tabs="tabs">
									<p class="text-center"><a href="#register" data-toggle="tab">{{"need"|trans}}</a></p>
								</div>
							</div-->
							<!-- register -->
							<div class="tab-pane active" id="register">
								<form  id="create" class="form-signin" action="{{ path("adduser") }}" method="POST">
									<input name="usernameCreate" type="text" class="form-control" placeholder="{{"user"|trans}}" required >
									<input name="nameCreate" type="text" class="form-control" placeholder="{{"name"|trans}}" required >
									<input name="surnameCreate" type="text" class="form-control" placeholder="{{"surname"|trans}}" required >
									<input name="emailCreate" type="email" class="form-control" placeholder="{{"email"|trans}}" >
									<input name="passwordCreate" type="password" class="form-control" placeholder="{{"pwd"|trans}}" required>
									<input id="submitCreate" type="submit" class="btn btn-lg btn-default btn-block" value="{{"validation"|trans}}" />
								</form>
								<div id="tabs" data-tabs="tabs">
									<p class="text-center"><a href="{{path('saslArea')}}" >{{"have"|trans}}</a></p>
								</div>
							</div>
							<!-- end register -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}


