{% extends "src/bundles/demoBundle/Resources/views/layouts/layout.html.twig" %}

{% block title %} {{section}} {% endblock %}


{% block body %}

	{{ parent() }}
	
	<div class="container-fluid">
			
		<div class="row">
			<div class="col-md-2">
				<strong><div class="text-primary text-center" style="margin:5px 0 10px 0 " > NODEFONY {{version}} </div> </strong>
				<ul class="nav nav-pills nav-stacked">
					
					{{ render( controller("documentationBundle:default:subSection", version, section  )) }}
				</ul>
				{% block section %}

				{% endblock %}
			</div>
			<div class="col-md-10">
				{% block readme %}
					<div class="container">
						<div class="row" >
							<div class="alert alert-warning" role="alert">NODEFONY {{version}} DOCUMENTATION  {{section}} IN PROGRESS</div>
						</div>
					</div>
				{% endblock %}
			</div>
		</div>	
	</div>
	
{% endblock %}

