{% extends "/app/Resources/views/base.html.twig" %}

{{trans_default_domain("doc")}}

{% block description %} 
	<meta name="description" content="Nodefony Documentation {{ version }}">
{% endblock %}


{% block title %}

	{% if subsection %}
		{{ subsection | trans() | upper() }}
	{% else %}
		{% if section %}
			{{ section | trans() | upper() }}
		{% else %}
			{% if bundle %}
				{{ bundle | trans() | upper() }}
			{% else %}
				{% if version %}
					{{ version | trans() | upper() }}
				{% else %}
					NODEFONY
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
	
{% endblock %}


{% block stylesheets %}

	{{ parent() }}
	
	<link rel="stylesheet" href="/documentationBundle/assets/css/documentation.css" />

{% endblock %}


{% block javascripts %}

	{{ parent() }}

	<script type="text/javascript" src="/documentationBundle/assets/js/documentation.js"></script>

	{% javascripts output='/documentationBundle/assets/js/layout.js' filter='?uglifyjs2'
		"/frameworkBundle/vendors/dataTable/js/jquery.dataTables.js"
		"/frameworkBundle/vendors/dataTable/js/dataTables.bootstrap.js"
	%}
		<!-- script type="text/javascript" src="{{ asset_url }}"></script-->
	{% endjavascripts %}

	<script> 
		var bundle =  "{{ bundle }}" ;
		var section = "{{section }}" || null  ;
		documentation.index( bundle , section );	
	</script>

	
{% endblock %}


{% block body %}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<i id="spinner" class="fa fa-refresh fa-spin fa-3x fa-fw" style="float: right;font-size: 20px;margin-right: 20px;"></i>
        <h4 class="modal-title" id="myModalLabel">Search</h4>
      </div>
      <div class="modal-body scroll-wrap">
	<ul id="search" class="list-group">
		<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>							
	</ul> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">


	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a><img alt="nodefony" style="margin-left:0px ;margin-top:10px ;float:left" width="32px" height="29px" src="/frameworkBundle/images/nodefony-logo.png"><a>
			<a class="navbar-brand text-primary" href="{{path("home")}}" style="margin-left:0px" ><strong class="text-primary">NODEFONY</strong></a>
		</div>

		<div class="collapse navbar-collapse" id="custom-collapse">

			<ul class="nav navbar-nav navbar-left">
				{{ render( controller("documentationBundle:default:navDoc" )) }}
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input id="inputSearh" type="text" class="form-control" placeholder="Search">
				</div>
				<button id="buttonSearh" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
					{{ "Search" | trans() }}
				</button>

			</form>


			<ul class="nav navbar-nav navbar-right ">
				<a  class="navbar-brand  " href="#" ><span class="label label-danger"> {{ "progress" | trans() | upper()}} !! </span></a>
				<a class="navbar-brand text-primary" href="#" ><strong class="text-primary" style="font-size:75%">GIT BRANCH</strong> <span  class="label label-default branch"></span></a>
				<a class="navbar-brand text-primary" href="#" ><strong class="text-primary" style="font-size:75%">VERSION</strong></a>
				<li  class="navbar-btn pull-right" style="margin-right:40px">
				   <select id="version" name="hl" class="form-control" >
					{% for ver in allVersions %}
						{% if ver == version %}
							<option value="{{ver}}" selected class="active" >{{ver}}</option>
						{% else %}
							
							<option value="{{path('documentation-version',{version:ver,bundle:bundle})}}" >{{ver}}</option> 
						{% endif %}
					{% endfor %}
				   </select>
				</li>
			</ul>
		</div>

	</div><!-- .container -->

</nav>

<div class="container-fluid" style="padding-top: 70px;padding-bottom: 70px">
		

	<div class="row">
		{% if bundle == "nodefony" and  section == null %}
			
			<div class="col-md-12 ">
				{% block readme %}
					<div class="container">
						<div class="row" >
							<div class="alert alert-danger" role="alert">
								{{version}} / {{bundle | trans()}}  / {{section | trans()}}  {% if subsection %}  / {{subsection | trans() }} {% endif %} {{ "progress" | trans() | upper()}}
							</div>
						</div>
					</div>
				{% endblock %}

				<hr style="margin-top:100px">
				
				<div class="row-fluid m-t-xl">

					<!--div class="col-md-4">
						<div class="panel panel-success">
							<div class="panel-heading">Local Git Status 
								<span class="branch label label-default pull-right"></span>
							</div>
							<div class="panel-body" style="overflow: auto;">
								<ul id="status" class="list-group">
								</ul>
							</div>
						</div>
					</div-->

					<div class="col-md-6">
						<div class="panel panel-success">
							<div class="panel-heading">Local Recent Commits 
								<span class="branch label label-default pull-right"></span>
							</div>
							<div class="panel-body" style="overflow: auto;">
								<ul id="commits">
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="panel panel-success">
							<div class="panel-heading">GitHub Issue Queue Activity</div>
							<div class="panel-body" style="overflow: auto;">
								<ul id="issues" class="list-group">
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		{% else %}
			<div class="col-md-2 affix navbar-default">
				<div class="text-primary text-center " style="margin:5px 0 10px 0 ; font-size:130%" >  
					<a href="{{path('documentation-version',{version:version,bundle:bundle})}}">
						{{bundle | trans() | upper}} 
					</a>
						<span class="label label-success"> {{version }} </span> 
				</div> 
				<ul class="nav nav-pills nav-stacked">
					{{ render( controller("documentationBundle:default:subSection", version, bundle, section  )) }}
				</ul>
				{% block section %}

				{% endblock %}
			</div>
			<div class="col-md-10 col-lg-offset-2">
				<ol class="breadcrumb">
					{% if version %}
						<li><a href="{{path('documentation-default',{version:version})}}">Nodefony {{version }}</a></li>
					{% endif %}
					{% if bundle and bundle != "nodefony"  %}
						<li><a href="{{path('documentation-version',{version:version,bundle:bundle})}}">{{bundle | trans()}}</a></li>
					{% endif %}
					{% if section %}
						<li><a href="{{path('documentation-section',{section:section, version:version, bundle:bundle })}}">{{section | trans()}}</a></li>
					{% endif %}
					{% if subsection %}
						{% set qs = {'subsection' : subsection} %}
						<li><a href="{{path('documentation-section',{section:section, version:version, bundle:bundle, queryString:qs})}}">{{subsection | trans()}}</a></li>
					{% endif %}
				</ol>
				{% block readme %}
					<div class="container">
						<div class="row" >
							<div class="alert alert-danger" role="alert">
								{{version | trans()}} /	{{bundle | trans()}} / {{section | trans()}}  {% if subsection %} / {{subsection | trans() }} {% endif %} {{ "progress" | trans() | upper()}}
							</div>
						</div>
					</div>
				{% endblock %}

				<hr style="margin-top:100px">
				
			</div>		
	
		{% endif %}
	</div>	
</div>

{% endblock %}

{% block footer %}
	<footer>
		{{ render( controller("documentationBundle:default:footer" )) }}
	</footer>
{% endblock %}


