{{trans_default_domain("doc")}}



<h1> {{ "begin" | trans() }}</h1>
<hr>


<h2>NODEFONY INSTALLATION : See more<span> <a href="{{ path('documentation-section',{section:'installation', version:version, bundle:bundle })}}">( Nodefony installation  documentation ) </a> </span> </h2>
<div class="doc2">
	<pre>
$ git clone https://github.com/nodefony/nodefony.git

$ cd nodefony

$ make build
</pre>

</div>

<h2>Configuration system : </h2>
<div class="doc2">
<p>
If you want change domain other than localhost or an other interface ip binding</br> 

Change and Add host name "mydomain.com" in your /etc/hosts  :
</p>
	<pre>
$ sudo vim /etc/hosts

##
# Host Database
#
##

#  LOOPBACK
127.0.0.1       localhost mydomain.com

#  OR LAN IP

192.168.x.x	mydomain.com

#  OR WAN IP

209.x.x.x	mydomain.com	
	</pre>
</div>

<h2>Configuration Framework : See more<span> <a href="{{ path('documentation-section',{section:'configurations', version:version, bundle:bundle })}}">( Nodefony Configurations  documentation ) </a></span></h2>
<div class="doc2">
<p>
If you have change domain other than localhost or you want change http(s)  port binding</br> 

Change in Location : <code>./config/config.yml</code>   :
</p>

	<pre>
#
#  NODEFONY FRAMEWORK
#
#       KERNEL CONFIG
#
#

name:                           "NODEFONY"
system:
 version:                      "Beta"
 domain:                       mydomain.com                    
 domainAlias:                  "^www\\.mydomain\\.com$"        
 httpPort:                     5151
 httpsPort:                    5152
 
	</pre>

</div>

<h2>Running NODEFONY: <span>See more  <a href="{{ path('documentation-section',{section:'running', version:version, bundle:bundle })}}">( RUN Nodefony documentation ) </a></span> </h2>
<div class="doc2">

<p>
	There are 3 methods to run NODEFONY framework 

	<ul>	
		<li>  Run Appliation in DEVELOPEMENT  mode <code>./nodefony_dev</code></li>
		<li>  Run Appliation in PRODUCTION mode with clusters <code>./nodefony</code></li>
		<li>  Run Appliation in PM2 MANAGEMENT mode  <code>make start</code> see  <a href="http://pm2.keymetrics.io/">PM2</a> </li>
	</ul>
	<strong> To check the good binding http(s) you can run nodefony in dev mode </strong><br>
</p>


<pre >
# Run Appliation in DEV mode
$ ./nodefony_dev
</pre>
<p>
<strong>Console when you start nodefony in developement mode :  </strong>
</p>
<pre style="height:500px">
              _   _    ___    ____    _____   _____    ___    _   _  __   __
             | \ | |  / _ \  |  _ \  | ____| |  ___|  / _ \  | \ | | \ \ / /
             |  \| | | | | | | | | | |  _|   | |_    | | | | |  \| |  \ V / 
             | |\  | | |_| | | |_| | | |___  |  _|   | |_| | | |\  |   | |  
             |_| \_|  \___/  |____/  |_____| |_|      \___/  |_| \_|   |_|  
                                                                            

		      NODEFONY SERVER CLUSTER MASTER Version : 2.0.2-beta PLATFORM : darwin  PROCESS PID : 47096

Fri Dec 23 2016 17:49:14 DEBUG APP KERNEL  : registerBundles in appkernel.js : httpBundle.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/httpBundle.js
Fri Dec 23 2016 17:49:14 DEBUG KERNEL  :  REGISTER BUNDLE : http   
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/services/kernel/httpKernelService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE HTTP  : Bundle http Register Service : httpKernelService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/services/servers/httpService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE HTTP  : Bundle http Register Service : httpService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/services/servers/httpsService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE HTTP  : Bundle http Register Service : httpsService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/services/servers/webSocketSecureService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE HTTP  : Bundle http Register Service : webSocketSecureService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/services/servers/websocketService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE HTTP  : Bundle http Register Service : websocketService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/services/sessions/sessionsService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE HTTP  : Bundle http Register Service : sessionsService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/services/staticFiles/staticService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE HTTP  : Bundle http Register Service : staticService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/services/upload/uploadService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE HTTP  : Bundle http Register Service : uploadService.js
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/httpBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE serverStatic( container,options )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE httpKernel( container,serverStatic )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE httpServer( httpKernel,security,options )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE httpsServer( httpKernel,security,options )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE websocketServer( httpKernel,security,options )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE websocketServerSecure( httpKernel,security,options )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE sessions( security,httpKernel )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE upload( httpKernel )
Fri Dec 23 2016 17:49:14 DEBUG APP KERNEL  : registerBundles in appkernel.js : frameworkBundle.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/frameworkBundle/frameworkBundle.js
Fri Dec 23 2016 17:49:14 DEBUG KERNEL  :  REGISTER BUNDLE : framework   
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/frameworkBundle/services/routerService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE FRAMEWORK  : Bundle framework Register Service : routerService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/frameworkBundle/services/translationService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE FRAMEWORK  : Bundle framework Register Service : translationService.js
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/frameworkBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/frameworkBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE router( container )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE translation( container,type )
Fri Dec 23 2016 17:49:14 DEBUG APP KERNEL  : registerBundles in appkernel.js : asseticBundle.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/asseticBundle/asseticBundle.js
Fri Dec 23 2016 17:49:14 DEBUG KERNEL  :  REGISTER BUNDLE : assetic   
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/asseticBundle/services/cssrewriteService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE ASSETIC  : Bundle assetic Register Service : cssrewriteService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/asseticBundle/services/lessService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE ASSETIC  : Bundle assetic Register Service : lessService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/asseticBundle/services/uglifycssService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE ASSETIC  : Bundle assetic Register Service : uglifycssService.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/asseticBundle/services/uglifyjs2Service.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE ASSETIC  : Bundle assetic Register Service : uglifyjs2Service.js
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/asseticBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/asseticBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE less( kernel,container )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE uglifyjs2( kernel,container )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE uglifycss( kernel,container )
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE cssrewrite( kernel,container )
Fri Dec 23 2016 17:49:14 DEBUG APP KERNEL  : registerBundles in appkernel.js : securityBundle.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/securityBundle/securityBundle.js
Fri Dec 23 2016 17:49:14 DEBUG KERNEL  :  REGISTER BUNDLE : security   
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/securityBundle/services/firewall/firewallService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE SECURITY  : Bundle security Register Service : firewallService.js
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/securityBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/securityBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE security( container,kernel )
Fri Dec 23 2016 17:49:14 DEBUG APP KERNEL  : registerBundles in appkernel.js : realTimeBundle.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/realTimeBundle/realTimeBundle.js
Fri Dec 23 2016 17:49:14 DEBUG KERNEL  :  REGISTER BUNDLE : realTime   
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/realTimeBundle/services/realTimeService.js
Fri Dec 23 2016 17:49:14 DEBUG BUNDLE REALTIME  : Bundle realTime Register Service : realTimeService.js
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/realTimeBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:14 WARNING BUNDLE REALTIME  :  OVERRIDING  CONFIG bundle  : http
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : ROUTER LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/realTimeBundle/Resources/config/routing.yml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE ROUTER  : ADD Route : /secure/realtime   ===> realTimeBundle:default:index
Fri Dec 23 2016 17:49:14 DEBUG SERVICE ROUTER  : ADD Route : /realtime   ===> realTimeBundle:default:index
Fri Dec 23 2016 17:49:14 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/realTimeBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:14 DEBUG SERVICE INJECTION  : START SERVICE realTime( container,kernel )
Fri Dec 23 2016 17:49:14 DEBUG APP KERNEL  : registerBundles in appkernel.js : monitoringBundle.js
Fri Dec 23 2016 17:49:14 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/monitoringBundle.js
Fri Dec 23 2016 17:49:15 DEBUG KERNEL  :  REGISTER BUNDLE : monitoring   
Fri Dec 23 2016 17:49:15 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/services/monitoringService.js
Fri Dec 23 2016 17:49:15 DEBUG BUNDLE MONITORING  : Bundle monitoring Register Service : monitoringService.js
Fri Dec 23 2016 17:49:15 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/services/serverLoadService.js
Fri Dec 23 2016 17:49:15 DEBUG BUNDLE MONITORING  : Bundle monitoring Register Service : serverLoadService.js
Fri Dec 23 2016 17:49:15 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:15 WARNING BUNDLE MONITORING  :  OVERRIDING  CONFIG bundle  : realTime
Fri Dec 23 2016 17:49:15 DEBUG SERVICE KERNEL READER  : ROUTER LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/Resources/config/routing.yml
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony   ===> monitoringBundle:default:index
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/{module}   ===> monitoringBundle:default:index
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/monitoring/realtime   ===> monitoringBundle:default:realTime
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/routes   ===> monitoringBundle:api:routes
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/route/{name}   ===> monitoringBundle:api:routes
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/services   ===> monitoringBundle:api:services
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/service/{name}   ===> monitoringBundle:api:services
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/syslog   ===> monitoringBundle:api:syslog
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/requests   ===> monitoringBundle:api:requests
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/request/{uid}   ===> monitoringBundle:api:request
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/config   ===> monitoringBundle:api:config
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/config/{bundleName}   ===> monitoringBundle:api:bundle
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/realtime/{name}   ===> monitoringBundle:api:realtime
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/users   ===> monitoringBundle:api:users
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/sessions   ===> monitoringBundle:api:sessions
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/pm2/{action}   ===> monitoringBundle:api:pm2
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/api/security   ===> monitoringBundle:api:security
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /nodefony/test/load   ===> monitoringBundle:default:testLoad
Fri Dec 23 2016 17:49:15 DEBUG SERVICE KERNEL READER  : SECURITY LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/Resources/config/security.yml
Fri Dec 23 2016 17:49:15 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:15 DEBUG SERVICE INJECTION  : START SERVICE monitoring( realTime,container,kernel )
Fri Dec 23 2016 17:49:15 DEBUG SERVICE INJECTION  : START SERVICE serverLoad( container,kernel )
Fri Dec 23 2016 17:49:15 DEBUG KERNEL   :  EVENT KERNEL onPreBoot
Fri Dec 23 2016 17:49:15 DEBUG APP KERNEL  : registerBundles in appkernel.js : sequelizeBundle.js
Fri Dec 23 2016 17:49:15 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/sequelizeBundle/sequelizeBundle.js
Fri Dec 23 2016 17:49:15 DEBUG KERNEL  :  REGISTER BUNDLE : sequelize   
Fri Dec 23 2016 17:49:15 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/sequelizeBundle/services/sequelizeService.js
Fri Dec 23 2016 17:49:15 DEBUG BUNDLE SEQUELIZE  : Bundle sequelize Register Service : sequelizeService.js
Fri Dec 23 2016 17:49:15 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/sequelizeBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:15 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/sequelizeBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:15 DEBUG SERVICE INJECTION  : START SERVICE sequelize( container,kernel,autoLoader )
Fri Dec 23 2016 17:49:15 DEBUG APP KERNEL  : registerBundles in appkernel.js : usersBundle.js
Fri Dec 23 2016 17:49:15 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/usersBundle/usersBundle.js
Fri Dec 23 2016 17:49:15 DEBUG KERNEL  :  REGISTER BUNDLE : users   
Fri Dec 23 2016 17:49:15 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/usersBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:15 DEBUG SERVICE KERNEL READER  : ROUTER LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/usersBundle/Resources/config/routing.yml
Fri Dec 23 2016 17:49:15 DEBUG SERVICE ROUTER  : ADD Route : /logout   ===> usersBundle:default:logout
Fri Dec 23 2016 17:49:15 DEBUG APP KERNEL  : registerBundles in appkernel.js : documentationBundle.js
Fri Dec 23 2016 17:49:15 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/documentationBundle/documentationBundle.js
Fri Dec 23 2016 17:49:16 DEBUG KERNEL  :  REGISTER BUNDLE : documentation   
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/documentationBundle/services/webCrawlerService.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : Bundle documentation Register Service : webCrawlerService.js
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/documentationBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : ROUTER LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/documentationBundle/Resources/config/routing.yml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /documentation   ===> documentationBundle:default:index
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /documentation/search   ===> documentationBundle:default:search
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /documentation/{version}   ===> documentationBundle:default:index
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /documentation/{version}/{bundle}   ===> documentationBundle:default:version
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /documentation/{version}/{bundle}/{section}   ===> documentationBundle:default:version
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /api/git/getMostRecentCommit   ===> documentationBundle:git:getMostRecentCommit
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /api/git/getStatus   ===> documentationBundle:git:getStatus
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /api/git/getCurrentBranch   ===> documentationBundle:git:getCurrentBranch
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/documentationBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE INJECTION  : START SERVICE webCrawler( container,kernel )
Fri Dec 23 2016 17:49:16 WARNING BUNDLE DOCUMENTATION  : ELASTIC SEARCH DISABLED : webcrawler search in memory !!  try to install elastic server  
Fri Dec 23 2016 17:49:16 DEBUG APP KERNEL  : registerBundles in appkernel.js : unitTestBundle.js
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/unitTestBundle/unitTestBundle.js
Fri Dec 23 2016 17:49:16 DEBUG KERNEL  :  REGISTER BUNDLE : unitTest   
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/unitTestBundle/services/unitTestService.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE UNITTEST  : Bundle unitTest Register Service : unitTestService.js
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/unitTestBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : ROUTER LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/unitTestBundle/Resources/config/routing.yml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /unitTest   ===> unitTestBundle:default:index
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/nodefony/bundles/unitTestBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE INJECTION  : START SERVICE unitTest( kernel,options )
Fri Dec 23 2016 17:49:16 DEBUG APP KERNEL  : registerBundles in appkernel.js : demoBundle.js
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/bundles/demoBundle/demoBundle.js
Fri Dec 23 2016 17:49:16 DEBUG KERNEL  :  REGISTER BUNDLE : demo   
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/bundles/demoBundle/services/dmsgService.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Bundle demo Register Service : dmsgService.js
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/bundles/demoBundle/services/randomService.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Bundle demo Register Service : randomService.js
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/src/bundles/demoBundle/Resources/config/config.yml
Fri Dec 23 2016 17:49:16 WARNING BUNDLE DEMO  :  OVERRIDING  CONFIG bundle  : realTime
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : ROUTER LOAD FILE :/Users/cci/repository/nodefony/src/bundles/demoBundle/Resources/config/routing.xml.example
Fri Dec 23 2016 17:49:16 WARNING READER   : DROP FILE : /Users/cci/repository/nodefony/src/bundles/demoBundle/Resources/config/routing.xml.example NO PLUGIN FIND
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : ROUTER LOAD FILE :/Users/cci/repository/nodefony/src/bundles/demoBundle/Resources/config/routing.yml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /   ===> demoBundle:demo:index
Fri Dec 23 2016 17:49:16 WARNING SERVICE ROUTER  : WARNING ROUTES HAS SAME NAME : /documentation   ===> demoBundle:demo:readme
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /documentation   ===> demoBundle:demo:readme
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /subscribe   ===> usersBundle:default:login
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /login/{type}   ===> demoBundle:login:login
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /demo/secure   ===> frameworkBundle:default:401
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /adduser   ===> demoBundle:demo:addUser
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /logout   ===> usersBundle:default:logout
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /demo   ===> frameworkBundle:default:401
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /local   ===> frameworkBundle:default:401
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /basic   ===> frameworkBundle:default:401
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /digest   ===> frameworkBundle:default:401
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /auth/google   ===> frameworkBundle:default:401
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /auth/google/callback   ===> frameworkBundle:default:401
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /auth/github   ===> frameworkBundle:default:401
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /auth/github/callback   ===> frameworkBundle:default:401
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /upload   ===> demoBundle:demo:indexUpload
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /fileupload   ===> demoBundle:demo:upload
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /sequelize   ===> demoBundle:demo:sequelize
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /query/sql   ===> demoBundle:demo:querySql
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /query/join   ===> demoBundle:demo:querySqlJoin
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /syscall   ===> demoBundle:demo:syscall
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /httpRequest   ===> demoBundle:demo:httpRequest
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /xmlResponse   ===> demoBundle:demo:rawResponseSync
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /xmlAsyncResponse   ===> demoBundle:demo:rawResponseAsync
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /demo/realtime   ===> demoBundle:demo:indexRealTime
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /finder   ===> demoBundle:finder:index
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /download   ===> demoBundle:finder:download
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /websoket   ===> demoBundle:demo:websoket
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /json   ===> demoBundle:demo:json
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /redirect   ===> demoBundle:demo:redirectGoogle
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /myroute   ===> demoBundle:demo:myroute
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /myroute/{page}/{elements}   ===> demoBundle:demo:myroute
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : SECURITY LOAD FILE :/Users/cci/repository/nodefony/src/bundles/demoBundle/Resources/config/security.yml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE FIREWALL  : ADD security context : demo_area
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY demo_area   : FACTORY sasl registered 
Fri Dec 23 2016 17:49:16 DEBUG SERVICE FIREWALL  : ADD security context : basic_area
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY basic_area   : FACTORY passport-basic registered 
Fri Dec 23 2016 17:49:16 DEBUG SERVICE FIREWALL  : ADD security context : digest_area
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY digest_area   : FACTORY passport-digest registered 
Fri Dec 23 2016 17:49:16 DEBUG SERVICE FIREWALL  : ADD security context : local_area
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY local_area   : FACTORY passport-local registered 
Fri Dec 23 2016 17:49:16 DEBUG SERVICE FIREWALL  : ADD security context : google_area
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY google_area   : FACTORY passport-google-oauth20 registered 
Fri Dec 23 2016 17:49:16 DEBUG SERVICE FIREWALL  : ADD security context : github_area
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY github_area   : FACTORY passport-github2 registered 
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : SERVICE LOAD FILE :/Users/cci/repository/nodefony/src/bundles/demoBundle/Resources/config/services.xml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE INJECTION  : START SERVICE dmsg( realTime,container,kernel )
Fri Dec 23 2016 17:49:16 DEBUG SERVICE INJECTION  : START SERVICE random( realTime,container,kernel )
Fri Dec 23 2016 17:49:16 DEBUG KERNEL  :  REGISTER BUNDLE : App   
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : CONFIG LOAD FILE :/Users/cci/repository/nodefony/app/config/config.yml
Fri Dec 23 2016 17:49:16 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : monitoring
Fri Dec 23 2016 17:49:16 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : realTime
Fri Dec 23 2016 17:49:16 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : http
Fri Dec 23 2016 17:49:16 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : assetic
Fri Dec 23 2016 17:49:16 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : sequelize
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : ROUTER LOAD FILE :/Users/cci/repository/nodefony/app/config/routing.yml
Fri Dec 23 2016 17:49:16 WARNING SERVICE ROUTER  : WARNING ROUTES HAS SAME NAME : /   ===> documentationBundle:default:index
Fri Dec 23 2016 17:49:16 DEBUG SERVICE ROUTER  : ADD Route : /   ===> documentationBundle:default:index
Fri Dec 23 2016 17:49:16 DEBUG SERVICE KERNEL READER  : SECURITY LOAD FILE :/Users/cci/repository/nodefony/app/config/security.yml
Fri Dec 23 2016 17:49:16 DEBUG SERVICE FIREWALL  :  Register Provider  : in_memory API in_memory
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  EVENT KERNEL onPostRegister
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  HTTP
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  FRAMEWORK
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/frameworkBundle/controller/defaultController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Bundle framework Register Controller : default
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Register Template : 'frameworkBundle::401.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : COMPILE Template : 'frameworkBundle::401.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Register Template : 'frameworkBundle::403.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : COMPILE Template : 'frameworkBundle::403.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Register Template : 'frameworkBundle::404.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : COMPILE Template : 'frameworkBundle::404.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Register Template : 'frameworkBundle::exception.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : COMPILE Template : 'frameworkBundle::exception.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Register Template : 'frameworkBundle::index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : COMPILE Template : 'frameworkBundle::index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Register Template : 'frameworkBundle::layout.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : COMPILE Template : 'frameworkBundle::layout.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Register Template : 'frameworkBundle::md.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : COMPILE Template : 'frameworkBundle::md.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Register Template : 'frameworkBundle::system.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : COMPILE Template : 'frameworkBundle::system.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : Register Template : 'frameworkBundle::timeout.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE FRAMEWORK  : COMPILE Template : 'frameworkBundle::timeout.html'
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  ASSETIC
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  SECURITY
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  REALTIME
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/realTimeBundle/controller/defaultController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE REALTIME  : Bundle realTime Register Controller : default
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  MONITORING
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/controller/api/apiController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : Bundle monitoring Register Controller : api
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/controller/defaultController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : Bundle monitoring Register Controller : default
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : Register Template : 'monitoringBundle:api:api.json'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : COMPILE Template : 'monitoringBundle:api:api.json'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : Register Template : 'monitoringBundle:api:api.xml'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : COMPILE Template : 'monitoringBundle:api:api.xml'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : Register Template : 'monitoringBundle::app.xml'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : COMPILE Template : 'monitoringBundle::app.xml'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : Register Template : 'monitoringBundle::debugBar.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : COMPILE Template : 'monitoringBundle::debugBar.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : Register Template : 'monitoringBundle::index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : COMPILE Template : 'monitoringBundle::index.html'
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/Entity/requestsEntity.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE MONITORING  : LOAD ENTITY : requestsEntity.js
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  SEQUELIZE
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/sequelizeBundle/Entity/sessionEntity.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE SEQUELIZE  : LOAD ENTITY : sessionEntity.js
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  USERS
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/usersBundle/controller/defaultController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : Bundle users Register Controller : default
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : Register Template : 'usersBundle::connect.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : COMPILE Template : 'usersBundle::connect.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : Register Template : 'usersBundle::layout.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : COMPILE Template : 'usersBundle::layout.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : Register Template : 'usersBundle::login.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : COMPILE Template : 'usersBundle::login.html'
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/usersBundle/Entity/userEntity.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : LOAD ENTITY : userEntity.js
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/usersBundle/Fixtures/usersFixtures.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : LOAD FIXTURE : usersFixtures.js
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  DOCUMENTATION
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/documentationBundle/controller/defaultController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : Bundle documentation Register Controller : default
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/documentationBundle/controller/gitController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : Bundle documentation Register Controller : git
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle::index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle::index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle:layouts:documentationLayout.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle:layouts:documentationLayout.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle:layouts:navSection.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle:layouts:navSection.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle::navDoc.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle::navDoc.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle::navDocBundle.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle::navDocBundle.html'
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  UNITTEST
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/nodefony/bundles/unitTestBundle/controller/defaultController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE UNITTEST  : Bundle unitTest Register Controller : default
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE UNITTEST  : Register Template : 'unitTestBundle::index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE UNITTEST  : COMPILE Template : 'unitTestBundle::index.html'
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  DEMO
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/bundles/demoBundle/controller/demoController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Bundle demo Register Controller : demo
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/bundles/demoBundle/controller/finderController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Bundle demo Register Controller : finder
Fri Dec 23 2016 17:49:16 DEBUG AUTOLOADER LOAD  : /Users/cci/repository/nodefony/src/bundles/demoBundle/controller/loginController.js
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Bundle demo Register Controller : login
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:Default:documentation.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:Default:documentation.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:Default:exec.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:Default:exec.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:Default:httpRequest.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:Default:httpRequest.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:Default:navDoc.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:Default:navDoc.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:Default:websocket.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:Default:websocket.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:demo:index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:demo:index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:demo:upload.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:demo:upload.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:demo:upload2.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:demo:upload2.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:finder:files.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:finder:files.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:finder:index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:finder:index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:layouts:layout.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:layouts:layout.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:layouts:navBar.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:layouts:navBar.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:login:login.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:login:login.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:orm:orm.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:orm:orm.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : Register Template : 'demoBundle:realTime:index.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE DEMO  : COMPILE Template : 'demoBundle:realTime:index.html'
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  INITIALIZE Bundle :  APP
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE APP  : Register Template : 'AppBundle::base.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE APP  : COMPILE Template : 'AppBundle::base.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE APP  : Register Template : 'AppBundle::login.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE APP  : COMPILE Template : 'AppBundle::login.html'
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  EVENT KERNEL BOOT
Fri Dec 23 2016 17:49:16 DEBUG SERVER STATIC FILE   : Add static route ===> /Users/cci/repository/nodefony/web/
Fri Dec 23 2016 17:49:16 DEBUG SERVICE sequelize CONNECTION  : nodefony :  CONNECT to database mysql : nodefony
Fri Dec 23 2016 17:49:16 DEBUG SERVICE FIREWALL  : Set Session Strategy  : migrate
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  APP OVERRIDING views for bundle : users
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : Register Template : 'usersBundle::login.html'
Fri Dec 23 2016 17:49:16 DEBUG BUNDLE USERS  : COMPILE Template : 'usersBundle::login.html'
Fri Dec 23 2016 17:49:16 DEBUG sequelize   : sequelize REGISTER ENTITY : requests PROVIDE BUNDLE : monitoring
Fri Dec 23 2016 17:49:16 DEBUG sequelize   : sequelize REGISTER ENTITY : session PROVIDE BUNDLE : sequelize
Fri Dec 23 2016 17:49:16 DEBUG sequelize   : sequelize REGISTER ENTITY : user PROVIDE BUNDLE : users
Fri Dec 23 2016 17:49:16 DEBUG SERVICE FIREWALL  :  Register Provider  : nodefony ENTITY user
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  EVENT KERNEL READY
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY demo_area   :  FACTORY : sasl PROVIDER : user PATTERN : /^\/demo/
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY basic_area   :  FACTORY : passport-basic PROVIDER : user PATTERN : /^\/basic/
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY digest_area   :  FACTORY : passport-digest PROVIDER : user PATTERN : /^\/digest/
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY local_area   :  FACTORY : passport-local PROVIDER : user PATTERN : /^\/local/
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY google_area   :  FACTORY : passport-google-oauth20 PROVIDER : user PATTERN : /^\/auth\/google/
Fri Dec 23 2016 17:49:16 DEBUG CONTEXT SECURITY github_area   :  FACTORY : passport-github2 PROVIDER : user PATTERN : /^\/auth\/github/
Fri Dec 23 2016 17:49:16 WARNING BUNDLE MONITORING  : ADD DEBUG BAR MONITORING
Fri Dec 23 2016 17:49:16 DEBUG SERVICE HTTPS   :  READ CERTIFICATE KEY : /Users/cci/repository/nodefony/config/certificates/server/privkey.pem
Fri Dec 23 2016 17:49:16 DEBUG SERVICE HTTPS   :  READ CERTIFICATE CERT : /Users/cci/repository/nodefony/config/certificates/server/fullchain.pem
Fri Dec 23 2016 17:49:16 DEBUG SERVICE HTTPS   :  READ CERTIFICATE CA : /Users/cci/repository/nodefony/config/certificates/ca/nodefony-root-ca.crt.pem
Fri Dec 23 2016 17:49:16 DEBUG KERNEL   :  EVENT KERNEL POST READY
Fri Dec 23 2016 17:49:17 INFO SERVICE MONITORING   : Create server MONITORING listen on Domain : localhost Port : 1318
Fri Dec 23 2016 17:49:17 INFO SERVICE REALTIME  : Create server DMSG listen on Domain : localhost Port : 1316
Fri Dec 23 2016 17:49:17 INFO SERVICE REALTIME  : Create server RANDOM listen on Domain : localhost Port : 1315
Fri Dec 23 2016 17:49:17 INFO SERVICE HTTP   : HTTP  Server is listening on DOMAIN : http://localhost:5151
Fri Dec 23 2016 17:49:17 INFO SERVICE WEBSOCKET   :  Server is listening on DOMAIN : ws://localhost:5151
Fri Dec 23 2016 17:49:17 INFO SERVICE HTTPS   : HTTPS  Server is listening on DOMAIN : https://localhost:5152
Fri Dec 23 2016 17:49:17 INFO SERVICE WEBSOCKET SECURE   :  Server  is listening on DOMAIN : wss://localhost:5152
Fri Dec 23 2016 17:49:17 DEBUG SERVICE SESSIONS  : CONTEXT default SEQUELIZE SESSIONS STORAGE  ==>  SESSION.STORAGE.SEQUELIZE COUNT SESSIONS : 1
Fri Dec 23 2016 17:49:17 DEBUG SERVICE SESSIONS  : CONTEXT google SEQUELIZE SESSIONS STORAGE  ==>  SESSION.STORAGE.SEQUELIZE COUNT SESSIONS : 0
Fri Dec 23 2016 17:49:17 DEBUG SERVICE SESSIONS  : CONTEXT github SEQUELIZE SESSIONS STORAGE  ==>  SESSION.STORAGE.SEQUELIZE COUNT SESSIONS : 0
Fri Dec 23 2016 17:49:18 DEBUG SERVICE LESS  : CREATE LESS FILE: /Users/cci/repository/nodefony/src/nodefony/bundles/frameworkBundle/Resources/public/css/style.css
Fri Dec 23 2016 17:49:18 DEBUG SERVICE LESS  : CREATE LESS FILE: /Users/cci/repository/nodefony/src/nodefony/bundles/monitoringBundle/Resources/public/css/style.css
</pre>
</div>

<h2>ACCEES NODEFONY APPLICATION :  </h2>
<div class="doc2">
<p >
	Access to App with URL : <strong>http://mydomain.com:5151</strong><br>

	By default the nodefony clone come with a demonstration bundle named "demoBundle" 



</p>


</div>



