{% extends '../base.html.twig' %}
{{trans_default_domain("login")}}

{% set error = getFlashBag("error") %}
{% set info = getFlashBag("info") %}

{% block title %}{{trans("login")}}{% endblock %}

{% block body %}
  {% block header %}
    {{ render( controller("users:users:header" )) }}
  {% endblock %}
  <div class="container text-center mt-8 nodefony">
    <div class="col-md-12">
      <img class="mb-4" src="{{CDN("image")}}/app/images/app-logo.png" alt="">
      <h1 class="h1 mb-3 font-weight-normal"style="color:#0167b8">{{nodefony.name|upper}}</h1>
      {% if info %}
        <div class="alert alert-primary dimissible mt-2" role="alert">
          <strong>INFO : </strong> {{info}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      {% if error %}
        <div class="alert alert-danger dimissible mt-2" role="alert">
          <strong>ERROR : </strong> {{error}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form class="nodefony-signin" id="login" action="{{url("secure-login")}}" method="POST">
        <label for="username" class="sr-only">Username</label>
        <input autocomplete="username" type="text" id="username" name="username" class="form-control" placeholder="username" required="true" autofocus="true">
        <label for="password" class="sr-only">Password</label>
        <input autocomplete="current-password" type="password" id="passwd" name="passwd" class="form-control mt-2" placeholder="Password" required="true">
        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">{{trans("submit")}}</button>
      </form>
      <a  href="{{url("nodefony-user-create")}}" class="mt-5 mb-3 text-muted">{{"register"|trans}}</a>
      <p class="mt-3 mb-3 text-muted">© {{nodefony.name}}</p>
    </div>
  </div>
    {% block footer %}
      {{ render( controller("users:users:footer" )) }}
    {% endblock %}
{% endblock %}
