{% extends "/vendors/nodefony/bundles/frameworkBundle/Resources/views/layout.html.twig" %}






 {% block bodyContent %}


	<div class="col-lg-12">
		<div class="jumbotron bg-danger m-t-xxl">
			 
			{% if exception.message %}
				<h1>ERROR  {{exception.status}} - {{exception.message}}</h1> 
			{% else %}
				<h1>ERROR 403 - Forbidden</h1>
			{% endif %}
			<h2>The following error occurred:</h2>
			<p>The requested URL  : <b style="font-size: 20px"></b> </p>
			<p><pre>{{ url }} {{ status}} {{ message }}</pre></p>			
		</div>
	</div>


{% endblock %}

