{% extends '/app/Resources/views/base.html.twig' %}

{% block title %}WebRTC{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<!-- WEBPACK BUNDLE -->
	<link rel='stylesheet' href='{{CDN("stylesheet")}}/webrtcBundle/assets/css/webrtc.css' />

{% endblock %}

{% block body %}

	<!--div style="position: absolute; width: 100%; height: 100%; overflow: hidden;z-index:1000">

		<div style="position: absolute; width: 255px; height: 305px;  top: 20%; margin-top: -122px; left: 50%; margin-left: -151px;">

			<img src='{{CDN("image")}}/webrtcBundle/images/webrtc/webrtc-logo-vert-retro-255x305.png' />
		</div>
	</div-->	
	
	<section id="home" class="pfblock-image screen-height" style="height:100%">
        	<div class="home-overlay">
		</div>
		<div class="intro">
			<div class="container"  >
				<div class="row">
					<h1 class="success" > 
						<a href="https://nodefony.net">
							<strong itemprop="name" class="text-primary" style="font-size:60px">
								<img alt="nodefony" width="50px" height="46px" style="margin-top: -10px;" src="{{CDN('image')}}/frameworkBundle/images/nodefony-logo.png">
								NODEFONY
							</strong>
							<span style="color:white;font-size:30px" >2.0</span>
						</a>  
					</h1>
				</div>

				<div class="row">
					<img src='{{CDN("image")}}/webrtcBundle/images/webrtc/webrtc-logo-vert-retro-255x305.png' />
					<h2 class="success" style="font-size:50px; paddind-top:20px"> <strong class="text-primary"> </strong> WebRTC </h2>

				</div>
	
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3" style="margin-top:30px">

						<div class="pfblock-subtitle text-primary" style="clear:both;">
							<a href="https://nodejs.org"><img alt="node.js" width="130px" height="80px" src="{{CDN('image')}}/frameworkBundle/images/nodejs/nodejs-new-pantone-white.png"></a>  
							<a href="https://github.com/nodefony/nodefony" style="padding-left:30px"><img alt="node.js" width="32px" height="32px" src="{{CDN('image')}}/frameworkBundle/images/github/GitHub-Mark-Light-32px.png" ></a>  
						</div>
					</div>
				</div>
				<div class="row" style="margin-top:20px">
					<a href="{{path('webrtc-config')}}" >
						<button type="button" class="btn btn-primary">Configurations</button>
					</a>
					<a href="{{path('webrtc')}}" >
						<button type="button" class="btn btn-primary">Demo</button>
					</a>
				</div>

			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- WEBPACK BUNDLE -->
	<script src='{{CDN("javascript")}}/webrtcBundle/assets/js/webrtc.js'></script>

{% endblock %}


