
{% extends "src/bundles/callContactBundle/Resources/views/layouts/layoutDial.html.twig" %}

{% block title %} DIAL {% endblock %}

{% block body %}
<div class="blockDialTable">
	{{ render( controller("callContactBundle:default:navbarDial", ccapi.api)) }}
</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/callContactBundle/css/dialPad.css" />
	<link rel="stylesheet" href="/callContactBundle/css/keyboard.css" />
{% endblock %}

{% block javascripts %}

		{{ parent() }}

		{% javascripts output='/assets/js/stageLib.js' filter='?uglifyjs2'
			"/vendors/stage/io/transports/websockets/websocket.js"
			"/vendors/stage/crypto/base64.js"
			"/vendors/stage/crypto/md5.js"
			"/vendors/stage/io/authentication/mechanisms/digest-md5/digestMd5.js"
			"/vendors/stage/io/authentication/sasl/sasl.js"
			"/vendors/stage/io/protocols/bayeux/bayeux.js"
			"/vendors/stage/io/realtime/realtime.js"
			"/vendors/stage/io/protocols/sip/sip2.js"
			"/vendors/stage/media/adapter.js"
			"/vendors/stage/media/media2.js"
			"/vendors/stage/media/webrtc/webrtc2.js"
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<script type="text/javascript" src="/callContactBundle/js/callContact/namespace.js"></script>

		<script type="text/javascript">
			var urlConf = "{{ path('callContactDialConfig') }}";
			var urlSubscriber = "{{ path('kamailioSubscriber') }}";
			var urlWebsocket = "{{ urlWebsocket }}";

			callContact.env = "{{ env }}";
			callContact.debug = !!{{ debug }};
		</script>

		<script type="text/javascript" src="/callContactBundle/js/ccapi.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/tfm.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/nodefony.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/notify.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/tools.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/webRTCActionControl.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/views.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/viewsDefault.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/viewsCcapi.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/mediaView.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/console.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/masterAudioMix.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/audioMix.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/keyboard.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/callContact/dialPad.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/dial.js"></script>

		<script type="text/javascript" src="/callContactBundle/js/morris/raphael.js"></script>
		<script type="text/javascript" src="/callContactBundle/js/morris/morris.min.js"></script>

		<script type="text/javascript">


			$('#consoleAction').change(function(){
				if(App.console){
					App.console[this.checked ? 'consoleOpen' : 'consoleClose']();
				}
			});

			$("#consoleAction").bootstrapSwitch({
				labelText: "CONSOLE",
				size: 'mini',
				onSwitchChange: function(){
					$("#consoleAction").change();
				}
			});

			$("#env").bootstrapSwitch({
				labelText: "ENV",
				onText: "PROD",
				offText: "DEV",
				onColor: 'danger',
				offColor: 'info',
				size: 'mini',
				onSwitchChange: function(e, status){
					if(App.api){
						App.environment = (status ? "prod" : "dev")
					}
				}
			});

			$("#debug").bootstrapSwitch({
				labelText: "DEBUG",
				onColor: 'info',
				size: 'mini',
				onSwitchChange: function(e, status){
					if(App.api){
						App.debug = status
					}
				}
			});

			$("#sipLogs").bootstrapSwitch({
				labelText: "SIP",
				onColor: 'info',
				size: 'mini'
			});

			$("#webrtcLogs").bootstrapSwitch({
				labelText: "WEBRTC",
				onColor: 'info',
				size: 'mini'
			});

			switch(stage.browser.navigator){
				case 'Chrome':
				case 'Opera':
					$('#logsNavigator').val('chrome://webrtc-internals');
					break

				case 'Firefox':
					$('#logsNavigator').val('about:webrtc');
					break;
			}

		</script>

	{% endblock %}
