{{trans_default_domain("demo")}}


<nav class="navbar navbar-custom" role="navigation">

	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand text-primary" href="" style="margin-left:20px" ><strong class="text-primary">NODEFONY</strong></a>
		</div>

		<div class="collapse navbar-collapse" id="custom-collapse">

			<ul class="nav navbar-nav navbar-left">
				<li><a href="{{path("home")}}">Home</a></li>
				<li><a href="#services">PRESENTATION</a></li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DEMO <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{path("finder")}}">DEMO FINDER</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("upload")}}">DEMO UPLOAD</a></li>
					</ul>
				</li>
				<li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DEMO REALTIME<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                                <li><a href="{{path("indexReal")}}">DEMO REALTIME</a></li>
                                                <li role="separator" class="divider"></li>
						{% if  webrtc  %}
							<li><a href="{{path("webrtc")}}">DEMO WEBRTC</a></li>
							<li role="separator" class="divider"></li>
						{% endif %}
						{% if  user.username  %}
							<li><a href="{{ path("webrtcsip", {userName: user.username  }) }}">DEMO WEBRTC SIP</a></li>
						{% endif %}
                                        </ul>
                                </li>
				<li><a href="#doc">DOCUMENTATION</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right ">
				<li style='top:12px' >
					<i class="fa fa-user" ></i>
				</li>
				<li class="dropdown">
					{% if  user.username  %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{path('logout')}}">{{ "logout"|trans() }}</a></li>
						</ul>
					{% else %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">anonymous <span class="caret"></span></a>
					{% endif %}
				</li>
			</ul>
		</div>

	</div><!-- .container -->

</nav>

