{{trans_default_domain("demo")}}


<nav class="navbar navbar-custom" role="navigation">

	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand text-primary" href="{{path("home")}}" style="margin-left:20px" ><strong class="text-primary">NODEFONY</strong></a>
		</div>

		<div class="collapse navbar-collapse" id="custom-collapse">

			<ul class="nav navbar-nav navbar-left">
				{% if not  login  %}
				

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DEMO <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{path("finder")}}">DEMO FINDER</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("upload")}}">DEMO UPLOAD</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("orm")}}">ORM SEQUELIZE</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("sql")}}">QUERY SQL</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("sqlJoin")}}">QUERY SQL JOIN</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("syscall")}}">SYSTEM CALL</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("httpRequest")}}">HTTP REQUEST</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("websoket")}}">WEBSOCKET</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("json")}}">RENDER JSON</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{path("redirect")}}">REDIRECT</a></li>
					</ul>
				</li>
				<li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DEMO REALTIME<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                                <li><a href="{{path("indexReal")}}">DEMO REALTIME</a></li>
                                                <li role="separator" class="divider"></li>
						{% if  webrtc  %}
							<li><a href="{{path("webrtc")}}">DEMO WEBRTC</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{ path("webrtcsip", {userName: user.username  }) }}">DEMO WEBRTC SIP</a></li>
						{% endif %}
						{% if  user.username  %}
						{% endif %}
                                        </ul>
                                </li>
				{% endif %}
				{% block documentation %}
					{{ render( controller("demoBundle:demo:doc" )) }}
				{% endblock %}
				<li><a href="">Reload <span class="glyphicon glyphicon-refresh"></span></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right ">
				<li style='top:12px' >
					{% if  user.image  %}
						<img width="26px" height="26px" src="{{ user.image }}" alt=""></img>
					{% else %}
						<i class="fa fa-user" ></i>
					{% endif %}
				</li>
				<li class="dropdown">
					{% if  user.username  %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{path('demoLogout')}}">{{ "logout"|trans() }}</a></li>
						</ul>
					{% else %}
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  >{{ "Login"|trans() }}  <span class="caret"></span></a>
						<ul class="dropdown-menu">
							
							<li><a href="{{path('saslArea')}}">{{ "nodefony-sasl"|trans() }}</a></li>
							<li><a href="{{path('basicArea')}}">{{ "passport-basic"|trans() }}</a></li>
							<li><a href="{{path('digestArea')}}">{{ "passport-digest"|trans() }}</a></li>
							<li><a href="{{path('localArea')}}">{{ "passport-local"|trans() }}</a></li>
							<li><a href="{{path('googleArea')}}">{{ "passport-google"|trans() }}</a></li>
							<li><a href="{{path('githubArea')}}">{{ "passport-github"|trans() }}</a></li>
							<li><a href="{{path('subscribe')}}">{{ "create User"|trans() }}</a></li>
						</ul>
					{% endif %}
				</li>
			</ul>
		</div>

	</div><!-- .container -->

</nav>

